<!-- ======================================================================= -->
<!-- MODAL PADRE: CONTRATO DE SERVICIOS -->
<!-- ======================================================================= -->
<div class="modal modal-open w-full">
    <div class="modal-box w-11/12 max-w-3xl bg-base-100 p-5 rounded-xl shadow-xl border border-base-200">

        <div class="flex justify-between items-center border-b border-base-200 pb-3 mb-2">
            <h3 class="text-xl font-bold text-[#013B5C] flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
                Contrato de Servicios de Transporte
            </h3>
            <button type="button" class="btn btn-sm btn-circle btn-ghost" (click)="cerrarModal.emit()">✕</button>
        </div>

        <form class="flex flex-col" [formGroup]="miFormulario" (ngSubmit)="onGuardar()">
            <div
                class="flex flex-col md:flex-row lg:flex-row xl:flex-row gap-4 border border-base-300 rounded-xl p-4 min-w-0">
                <div class="flex-2 flex flex-col gap-2 min-w-0">

                    <div class="flex flex-col md:flex-row lg:flex-row xl:flex-row gap-2">
                        <div class="form-control flex-1">
                            <label class="label font-semibold text-xs text-base-content/70">N° Contrato</label>
                            <input type="text" formControlName="cod_contrato" class="input-base_5" readonly />
                        </div>

                        <div class="form-control flex-3">
                            <label class="label py-1">
                                <span class="label-text font-semibold text-xs text-base-content/70">Tipo de
                                    Contrato</span>
                            </label>
                            <div
                                class="flex flex-5 items-center gap-4 bg-base-100 px-3 py-1 rounded-lg border border-base-300">
                                <label class="flex items-center gap-2 cursor-pointer">
                                    <input type="radio" formControlName="ind_tipo_contrato" value="O"
                                        (change)="tipoContrato.set('O')" class="radio text-[#013B5C]"
                                        style="width: 16px; height: 16px; min-height: 16px;" />
                                    <span class="text-xs">Operación Mina</span>
                                </label>
                                <label class="flex items-center gap-2 cursor-pointer">
                                    <input type="radio" formControlName="ind_tipo_contrato" value="T"
                                        (change)="tipoContrato.set('T')" class="radio text-[#013B5C]"
                                        style="width: 16px; height: 16px; min-height: 16px;" />
                                    <span class="text-xs">Transporte</span>
                                </label>
                                <label class="flex items-center gap-2 cursor-pointer">
                                    <input type="radio" formControlName="ind_tipo_contrato" value="A"
                                        (change)="tipoContrato.set('A')" class="radio text-[#013B5C]"
                                        style="width: 16px; height: 16px; min-height: 16px;" />
                                    <span class="text-xs">Alq. Equipo</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-control w-full flex">
                        <label class="label py-0.5 w-[30%]">
                            <span class="label-text font-semibold text-xs text-base-content/70">Contratista</span>
                        </label>
                        <select class="select-base_cuatro" formControlName="cod_contrata">
                            @for (item of listContrataAdm(); track $index) {
                            <option [value]="item.cod_contrata">{{ item.des_contrata }}</option>
                            }
                        </select>
                    </div>

                    <div class="form-control w-full flex flex-col md:flex-row lg:flex-row xl:flex-row">
                        <label class="label py-0.5 w-[30%]">
                            <span class="label-text font-semibold text-xs text-base-content/70">Representante</span>
                        </label>
                        <input type="text" formControlName="c_t_representante" class="input-base_5" />
                    </div>

                    <div class="form-control w-full flex items-start flex-col md:flex-row lg:flex-row xl:flex-row">
                        <label class="label py-0.5 w-[30%]">
                            <span class="label-text font-semibold text-xs text-base-content/70">Objeto del
                                Contrato</span>
                        </label>
                        <textarea class="input-base_5 textarea-xs w-full resize-none h-25"
                            formControlName="des_observacion">Sergio Bendezu</textarea>
                    </div>

                    <div class="flex gap-4 flex-col md:flex-row lg:flex-row xl:flex-row">
                        <div class="flex-1">
                            <div class="form-control w-full flex mb-2">
                                <label class="form-control w-full flex mb-2">
                                    <span class="label-text font-semibold text-xs text-base-content/70">Periodo de
                                        Inicio</span>
                                </label>
                                <input type="date" formControlName="fec_inicio" class="input-base_date" />
                            </div>
                            <div class="form-control w-full flex mb-2">
                                <label class="label py-0.5 w-full">
                                    <span class="label-text font-semibold text-xs text-base-content/70">Fecha
                                        Firma</span>
                                </label>
                                <input type="date" formControlName="fec_firma" class="input-base_date" />
                            </div>
                            <div class="form-control w-full flex mb-2">
                                <label class="label py-0.5 w-full">
                                    <span class="label-text font-semibold text-xs text-base-content/70">Tipo
                                        Cambio</span>
                                </label>
                                <input type="number" formControlName="imp_tipo_cambio" class="input-base_5"
                                    step="0.001" />
                            </div>
                            <div class="form-control w-full flex mb-2">
                                <label class="label py-0.5 w-full">
                                    <span class="label-text font-semibold text-xs text-base-content/70">Usuario</span>
                                </label>
                                <input type="text" formControlName="cod_usuario_creo" class="input-base_5" />
                            </div>
                        </div>

                        <div class="flex-1">
                            <div class="form-control w-full flex mb-2">
                                <label class="label py-0.5 w-full">
                                    <span class="label-text font-semibold text-xs text-base-content/70">Periodo de
                                        Term.</span>
                                </label>
                                <input type="date" formControlName="fec_termino" class="input-base_date" />
                            </div>
                            <div class="form-control w-full flex mb-2">
                                <label class="label py-0.5 w-full">
                                    <span class="label-text font-semibold text-xs text-base-content/70">Moneda
                                        Valor.</span>
                                </label>

                                <select class="select-base_cuatro" formControlName="ind_moneda">
                                    <option value="S">SOLES (S/.)</option>
                                    <option value="D">DOLAR (US$)</option>
                                </select>
                                <!-- <input type="text" formControlName="ind_moneda" class="input-base" /> -->
                            </div>

                            <!-- @if () { -->

                            <div class="form-control w-full flex mb-2 h-7 min-h-7 max-h-7">
                                @if (miFormulario.get('ind_moneda')?.value !== 'S') {

                                <label class="label py-0.5 w-full">
                                    <span class="label-text font-semibold text-xs text-base-content/70">Ind. T.
                                        Cambio</span>
                                </label>

                                <select class="select-base_cuatro" formControlName="ind_tipocambio">
                                    <option value="1">FIJO</option>
                                    <option value="0">VARIABLE</option>
                                </select>
                                }
                            </div>
                            <!-- } -->
                            <div class="form-control w-full flex mb-2">
                                <label class="label py-0.5 w-full">
                                    <span class="label-text font-semibold text-xs text-base-content/70">Fecha
                                        Usu.</span>
                                </label>
                                <input type="date" formControlName="fec_usuario_creo" class="input-base_date" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-1 min-w-0">
                    <div class="form-control flex-1 flex mb-2">
                        <label class="label py-0.5 w-full">
                            <span class="label-text font-semibold text-xs text-base-content/70">Fecha de Registro</span>
                        </label>
                        <input type="date" formControlName="fec_registro" class="input-base_date" />
                    </div>

                    <div class="form-control flex-1 flex mb-2">
                        <label class="label py-0.5 w-full">
                            <span class="label-text font-semibold text-xs text-base-content/70">Estado</span>
                        </label>
                        <select class="select-base_tres border" formControlName="ind_estado">
                            <option value="G">GENERADO</option>
                            <option value="A">APROBADO</option>
                            <option value="X">ANULADO</option>
                            <option value="H">HISTORICO</option>

                        </select>
                    </div>

                    <div class="form-control flex-1 flex mb-2">
                        <label class="label py-0.5 w-full">
                            <span class="label-text font-semibold text-xs text-base-content/70">Periodo de Ruc</span>
                        </label>
                        <input type="text" formControlName="c_t_ruc" class="input-base_5" readonly />
                    </div>

                    <label class="cursor-pointer select-none shrink-0 flex items-center justify-between mt-3">
                        <span class="label-text font-semibold text-xs text-base-content/70">Valoriza
                            Contablemente</span>
                        <input type="checkbox" class="input-base_5" formControlName="ind_valorizacion"
                            class="hidden peer" />
                        <span
                            class="w-4 h-4 rounded border-2 border-[#002B48] flex items-center justify-center bg-white peer-checked:bg-[#002B48] peer-checked:shadow-[0_0_8px_rgba(0,43,72,0.7)] transition-all duration-300 ease-in-out">
                            <svg class=" w-3 h-3 text-white scale-0 peer-checked:scale-100 transition-transform duration-300 ease-in-out"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                stroke-width="3">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                    </label>

                    <!-- SECCIÓN ANEXOS -->
                    <div class="relative border border-gray-300 rounded-sm pt-4 max-w-xs mt-6">
                        <span
                            class="bg-white shadow-sm p-1 rounded absolute label-text -top-3 left-3 font-semibold text-xs text-base-content/70"
                            style="font-size: 13px">
                            Anexos
                        </span>
                        <!-- Tarifario: bloqueado en O y A, libre en T -->
                        <div (click)="abrirSubModalTarifario.set(true)"
                            [class.pointer-events-none]="tipoContrato() === 'O' || tipoContrato() === 'A'"
                            [class.opacity-50]="tipoContrato() === 'O' || tipoContrato() === 'A'"
                            class="flex items-center gap-2.5 px-2 py-1.5 rounded-md hover:bg-base-200 cursor-pointer transition-colors">
                            <button type="button" class="w-7 h-7 rounded-md flex items-center justify-center shrink-0"
                                style="background:#FAEEDA; color:#854F0B;">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path d="M12 3v18M3 12h18M3 3h18v18H3z" />
                                </svg>
                            </button>
                            <span class="text-xs font-medium">Tarifario</span>
                        </div>
                        <!-- (click)="abrirSubModalPrecUnitario.set(true)"  -->
                        <!-- Precios Unitarios: bloqueado en O y A, libre en T -->
                        <div (click)="abrirTarifario()"
                            [class.pointer-events-none]="tipoContrato() === 'O' || tipoContrato() === 'A'"
                            [class.opacity-50]="tipoContrato() === 'O' || tipoContrato() === 'A'"
                            class="flex items-center gap-2.5 px-2 py-1.5 rounded-md hover:bg-base-200 cursor-pointer transition-colors">
                            <button type="button" class="w-7 h-7 rounded-md flex items-center justify-center shrink-0"
                                style="background:#FCEBEB; color:#A32D2D;">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <line x1="12" y1="1" x2="12" y2="23"></line>
                                    <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                </svg>
                            </button>
                            <span class="text-xs font-medium">Precios Unitarios</span>
                        </div>

                        <!-- Penalidades y Bonos: siempre bloqueado -->
                        <div class="flex items-center gap-2.5 px-2 py-1.5 rounded-md hover:bg-base-200 cursor-pointer transition-colors
                            opacity-50 pointer-events-none">
                            <button type="button" class="w-7 h-7 rounded-md flex items-center justify-center shrink-0"
                                style="background:#E1F5EE; color:#0F6E56;">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                    <path d="m9 11 2 2 4-4"></path>
                                </svg>
                            </button>
                            <span class="text-xs font-medium">Penalidades y Bonos</span>
                        </div>

                        <!-- Gastos Generales: siempre libre -->
                        <div (click)="abrirSubModalGastos.set(true)"
                            class="flex items-center gap-2.5 px-2 py-1.5 rounded-md hover:bg-base-200 cursor-pointer transition-colors">
                            <button type="button" class="w-7 h-7 rounded-md flex items-center justify-center shrink-0"
                                style="background:#EEEDFE; color:#534AB7;">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <rect width="18" height="18" x="3" y="3" rx="2"></rect>
                                    <line x1="12" y1="8" x2="12" y2="16"></line>
                                    <path d="M16 12H8"></path>
                                </svg>
                            </button>
                            <span class="text-xs font-medium">Gastos Generales</span>
                        </div>

                    </div>

                </div>
            </div>

            <!-- TABS -->
            <div
                class="flex flex-col w-[65%] md:flex-row lg:flex-row xl:flex-row space-x-2 pb-1 mt-2 mb-2 border-b border-base-300">

                @if (miFormulario.get('ind_tipo_contrato')?.value === 'O' ||
                miFormulario.get('ind_tipo_contrato')?.value === 'T') {
                <a (click)="tabActivo.set('parametros')" [class.tab-active]="tabActivo() === 'parametros'"
                    class="tab-style flex items-center gap-1 whitespace-nowrap px-1 py-1 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                    </svg>
                    <span class="text-[11px]">Parametros Generales</span>
                </a>
                }

                @if (miFormulario.get('ind_tipo_contrato')?.value === 'O') {
                <a (click)="tabActivo.set('base')" [class.tab-active]="tabActivo() === 'base'"
                    class="tab-style flex items-center gap-1 whitespace-nowrap px-1 py-1 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z" />
                    </svg>
                    <span class="text-[11px]">Esp. Técnicas y Base de Medición</span>
                </a>
                }

                @if (miFormulario.get('ind_tipo_contrato')?.value === 'A') {
                <a (click)="tabActivo.set('equipos')" [class.tab-active]="tabActivo() === 'equipos'"
                    class="tab-style flex items-center gap-1 whitespace-nowrap px-1 py-1 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                    </svg>
                    <span class="text-[11px]">Equipos Alquilados</span>
                </a>
                }

            </div>

            @if(tabActivo() === 'parametros') { 
                <app-parametros-generales [parametros]="parametrosArray"  [cod_contrato]="miFormulario.get('cod_contrato')?.value" /> 
            }

            @if(tabActivo() === 'base') { 
                <app-esptec-base-medicion [mediciones]="medicionesArray"  
                    [cod_contrato]="miFormulario.get('cod_contrato')?.value" /> 
            }

            @if(tabActivo() === 'equipos') { 
                <app-equipos-alquilados [equipos]="equiposArray"
                [cod_contrata]="miFormulario.get('cod_contrata')?.value" /> 
            }

            <div class="modal-action border-t border-base-200 pt-3 mt-2 flex justify-end gap-2">
                <button type="submit"
                    class="btn btn-sm text-white bg-[#013B5C] hover:bg-[#002B48] flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                    </svg>
                    Guardar
                </button>
                <button type="button" class="btn btn-sm btn-outline border-base-300 flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>
<!-- ind_tipo_contrato = O -->
<!-- ======================================================================= -->
<!-- CAPA GLOBAL DE SUBMODALES (Totalmente libre del contexto del Padre) -->
<!-- ======================================================================= -->
@if(abrirSubModalGastos()) {
<app-modal-gastos-generales (onCerrarModalGastos)="abrirSubModalGastos.set(false)"
    [cod_contrato]="miFormulario.get('cod_contrato')?.value" />
}

@if(abrirSubModalTarifario()) {
<app-modal-tarifario (onCerrarModalTarifario)="abrirSubModalTarifario.set(false)"
    [cod_contrato]="miFormulario.get('cod_contrato')?.value" />
}

@if(abrirSubModalPrecUnitario()) {
<app-modal-precios-unitarios (onCerrarModalPrecUnitario)="abrirSubModalPrecUnitario.set(false)"
    [cod_contrato]="miFormulario.get('cod_contrato')?.value" />
}