@switch (iconos()) {
    @case ('globe-alt') {
    <!-- 🌎 Geología -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 21a9 9 0 100-18 9 9 0 000 18zm0 0c2.21 0 4-4.03 4-9s-1.79-9-4-9m0 18c-2.21 0-4-4.03-4-9s1.79-9 4-9" />
        </svg>
    }

    @case ('map') {
    <!-- 🗺️ Planeamiento -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M9 3.75L3 6v14.25l6-2.25m0-14.25l6 2.25m-6-2.25v14.25m6-12L21 6v14.25l-6-2.25m0-12v14.25" />
        </svg>
    }

    @case ('cube-transparent') {
    <!-- ⛏️ Mina -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M8.25 4.5l3.75-2.25L15.75 4.5m-7.5 0L4.5 6.75l3.75 2.25m7.5-4.5l3.75 2.25-3.75 2.25M8.25 9l3.75 2.25L15.75 9m-7.5 0L4.5 11.25l3.75 2.25m7.5-4.5l3.75 2.25-3.75 2.25m-7.5 0L12 16.5l3.75-2.25m-7.5 0L4.5 16.5l3.75 2.25m7.5-4.5l3.75 2.25-3.75 2.25m-11.25 0L12 21.75l3.75-2.25" />
        </svg>
    }

    @case ('beaker') {
    <!-- 🔬 Laboratorio -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M9 3h6m-6 0v4.879c0 .414-.168.81-.467 1.103l-4.5 4.38A2.25 2.25 0 007.5 18h9a2.25 2.25 0 003.467-4.638l-4.5-4.38A1.5 1.5 0 0015 7.879V3" />
        </svg>
    }

    @case ('cog-6-tooth') {
    <!-- ⚙️ Planta -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.75 3.75h4.5l.75 2.25 2.25.75v4.5l-2.25.75-.75 2.25h-4.5l-.75-2.25-2.25-.75v-4.5l2.25-.75.75-2.25z" />
        </svg>
    }

    @default {
    <!-- Icono por defecto -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3.75h10.5v16.5H6.75z" />
        </svg>
    }

}
