<div class="container mx-auto px-4 gap-10 justify-center mt-10">

    <h2 class="text-[20px] font-bold text-[#013B5C] border-b-2 border-gray-300 pb-2">
        Registro de Labores y Métodos de Explotación
    </h2>
    <div class="mt-5 ">

        <div class="flex flex-row gap-4 p-4 rounded-xl mb-2">

            <button
                class="flex items-center space-x-2 px-6 py-2 text-white bg-[#013B5C] rounded-lg font-semibold shadow-md hover:bg-[#002B48] transition duration-300 transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-300">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                    <path
                        d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5A6.75 6.75 0 0 0 10.5 3.75ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.289l4.618 4.618a.75.75 0 1 1-1.06 1.06l-4.619-4.618A8.25 8.25 0 0 1 2.25 10.5Z" />
                </svg>
                <span>Visualizar</span>
            </button>

            <button
                class="flex items-center space-x-2 px-6 py-2 text-white bg-[#1A7A40] rounded-lg font-semibold shadow-md hover:bg-green-800 transition duration-300 transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-green-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
                        clip-rule="evenodd" />
                </svg>
                <span>Nuevo</span>
            </button>

            <button
                class="flex items-center space-x-2 px-6 py-2 text-gray-900 bg-[#FFB300] rounded-lg font-semibold shadow-md hover:bg-amber-500 transition duration-300 transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-amber-300">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                    <path
                        d="M21.731 2.269a2.68 2.68 0 0 0-3.791 0l-1.5 1.5 4.5 4.5 1.5-1.5a2.68 2.68 0 0 0 0-3.791l-1.5-1.5ZM16 5.25l1.5 1.5L5.75 18H4.25v-1.5L16 5.25ZM2.25 19.5v3h3l10.5-10.5-3-3L2.25 19.5Z" />
                </svg>
                <span>Editar</span>
            </button>

            <button
                class="flex items-center space-x-2 px-6 py-2 text-white bg-[#607D8B] rounded-lg font-semibold shadow-md hover:bg-gray-700 transition duration-300 transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M15.75 3.75A.75.75 0 0 0 15 3h-2.25a.75.75 0 0 0 0 1.5H15v15h-2.25a.75.75 0 0 0 0 1.5H15a2.25 2.25 0 0 0 2.25-2.25V3.75Z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                        d="M8.703 6.225C9.563 5.365 10.422 4.6 12 4.6c1.579 0 2.438.765 3.298 1.625l3.585 3.585c1.026 1.026 1.583 2.115 1.583 3.32V19.5a2.25 2.25 0 0 1-2.25 2.25H4.5A2.25 2.25 0 0 1 2.25 19.5V9.829c0-1.205.557-2.294 1.583-3.321l3.585-3.585ZM5.25 9.75V6h3.75v3.75H5.25Z"
                        clip-rule="evenodd" />
                </svg>
                <span>Copiar</span>
            </button>

        </div>
        <div class="p-4 flex justify-between items-center mb-2">
            <h3 class="text-xl font-bold text-[#013B5C]">
                Detalle de Labores
            </h3>
            <div
                class="bg-blue-100 text-[#013B5C] font-semibold py-1 px-3 rounded-full text-sm border border-[#013B5C]">
                <span class="mr-1">
                    Total de Registros:
                </span>
                <span class="font-bold">
                    {{ responseData().length }}
                </span>
            </div>
        </div>
        <div class="w-full sm:w-96 md:w-[600px] lg:w-[700px] xl:w-[1450px] mx-auto rounded-lg overflow-x-auto">

            <table class="min-w-full border-collapse text-sm text-gray-800">

                <thead>
                    <tr class="text-center text-gray-700 font-medium bg-gray-100">
                        @for (col of titulo; track $index) {
                        <th class="border-2 border-gray-400 px-3 py-1">{{ col }}</th>
                        }
                    </tr>
                </thead>

                <tbody>
                    @if (responseData().length > 0) {
                    @for (fila of responseData(); track $index) {
                    <tr>
                        <td class="border-2 border-gray-400 p-1">
                            <select [(ngModel)]="fila.metodoSeleccionado" [name]="'metodo_' + fila.id"
                                (ngModelChange)="onMetodoSeleccionado($event)"
                                class="select-xs mx-auto select text-sm font-medium outline-none flex items-center border border-gray-300 rounded-lg px-2 py-1 bg-gray-50 shadow-sm hover:shadow-md transition-shadow duration-300 ease-in-out focus-within:border-[#033351] focus-within:ring-1 focus-within:ring-[rgb(3,102,157)] focus-within:ring-opacity-40 w-75">
                                @for (op of listLabor(); track op.cod_metexp) {
                                <option [value]="op.cod_metexp">{{op.cod_metexp}} {{ op.nom_metexp }}</option>
                                }
                            </select>
                        </td>

                        <td class="border-2 border-gray-400 p-1">
                            <div class="input-container">
                                <input type="text" [value]="fila.nro_lab_ancho" class="input-field" required />
                            </div>
                        </td>
                        <td class="border-2 border-gray-400 p-1">
                            <div class="input-container">
                                <input type="text" [value]="fila.nro_lab_altura" class="input-field" required />
                            </div>
                        </td>
                        <td class="border-2 border-gray-400 p-1">
                            <div class="input-container">
                                <input type="text" [value]="fila.nro_lab_pieper" class="input-field" required />
                            </div>
                        </td>
                        <td class="border-2 border-gray-400 p-1">
                            <div class="input-container">
                                <input type="text" [value]="fila.nro_lab_broca" class="input-field" required />
                            </div>
                        </td>
                        <td class="border-2 border-gray-400 p-1">
                            <div class="input-container">
                                <input type="text" [value]="fila.nro_lab_barcon" class="input-field" required />
                            </div>
                        </td>
                        <td class="border-2 border-gray-400 p-1">
                            <div class="input-container">
                                <input type="text" [value]="fila.nro_lab_barren" class="input-field" required />
                            </div>
                        </td>
                        <td class="border-2 border-gray-400 p-1">
                            <div class="input-container">
                                <input type="text" [value]="fila.nro_lab_facpot" class="input-field" required />
                            </div>
                        </td>
                        <td class="border-2 border-gray-400 p-1">
                            <div class="input-container">
                                <input type="text" [value]="fila.nro_lab_fulmin" class="input-field" required />
                            </div>
                        </td>
                        <td class="border-2 border-gray-400 p-1">
                            <div class="input-container">
                                <input type="text" [value]="fila.nro_lab_conect" class="input-field" required />
                            </div>
                        </td>
                        <td class="border-2 border-gray-400 p-1">
                            <div class="input-container w-10">
                                <input type="text" [value]="fila.nro_lab_punmar" class="input-field" required />
                            </div>
                        </td>
                        <td class="border-2 border-gray-400 p-1">
                            <div class="input-container">
                                <input type="text" [value]="fila.nro_lab_tabla" class="input-field" required />
                            </div>
                        </td>

                    </tr>
                    }

                    } @else {
                    <tr>
                        <td [attr.colspan]="titulo.length"
                            class="p-4 text-center font-extrabold text-red-700 bg-red-50 border-2 border-gray-400 p-1">
                            No existen datos para mostrar.
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
