/**
PRODEDIMIENTO ALMACENADO PARA COPIAR PERIODO
CREADO POR INOC RUBIO PAUCAR

**/


sp_helptext sp_IR_copiar_datos_periodo

drop proc sp_IR_copiar_datos_periodo

create proc 

sp_IR_copiar_datos_periodo '2019', '12', '2026','12','pract_ir.sist.cmc'

CREATE PROCEDURE sp_IR_copiar_datos_periodo
(
    @anioOrigen  VARCHAR(4),
    @mesOrigen   VARCHAR(2),
    @anioDestino VARCHAR(4),
    @mesDestino  VARCHAR(2),
    @username    VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        ------------------------------------------------
        -- 1️⃣ CIERRE PERIODO
        ------------------------------------------------
        INSERT INTO trb_cierre_periodo (
            cod_empresa,
            cod_empresa_unidad,
            cie_ano,
            cie_per,
            fec_ini,
            fec_fin,
            usu_creo,
            fec_creo
        )
        SELECT 
            cod_empresa,
            cod_empresa_unidad,
            @anioDestino,
            @mesDestino,
            fec_ini,
            fec_fin,
            @username,
            GETDATE()
        FROM trb_cierre_periodo
        WHERE cie_ano = @anioOrigen
          AND cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 
              FROM trb_cierre_periodo d
              WHERE d.cie_ano = @anioDestino
                AND d.cie_per = @mesDestino
          );

        ------------------------------------------------
        -- 2️⃣ MAE VAL OPERATIVO
        ------------------------------------------------
        INSERT INTO mae_val_operativo (
            cod_empresa,
            cod_empresa_unidad,
            val_ano,
            val_per,
            val_vig,
            val_fac_ag,
            val_pre_ag,
            val_fac_cu,
            val_pre_cu,
            val_fac_pb,
            val_pre_pb,
            val_fac_zn,
            val_pre_zn,
            val_fac_au,
            val_pre_au,
            usu_creo,
            fec_creo
        )
        SELECT
            cod_empresa,
            cod_empresa_unidad,
            @anioDestino,
            @mesDestino,
            val_vig,
            val_fac_ag,
            val_pre_ag,
            val_fac_cu,
            val_pre_cu,
            val_fac_pb,
            val_pre_pb,
            val_fac_zn,
            val_pre_zn,
            val_fac_au,
            val_pre_au,
            @username,
            GETDATE()
        FROM mae_val_operativo
        WHERE val_ano = @anioOrigen
          AND val_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 
              FROM mae_val_operativo d
              WHERE d.val_ano = @anioDestino
                AND d.val_per = @mesDestino
          );

        ------------------------------------------------
        -- 3️⃣ MAE VAL CANCHAS
        ------------------------------------------------
        INSERT INTO mae_val_canchas (
            cod_empresa,
            cod_empresa_unidad,
            cie_ano,
            cie_per,
            val_tms,
            val_ag,
            val_cu,
            val_pb,
            val_zn,
            val_vpt,
            usu_creo,
            fec_creo
        )
        SELECT 
            VLCAN.cod_empresa,
            VLCAN.cod_empresa_unidad,
            @anioDestino,
            @mesDestino,
            VLCAN.val_tms,
            VLCAN.val_ag,
            VLCAN.val_cu,
            VLCAN.val_pb,
            VLCAN.val_zn,
            VLCAN.val_vpt,
            @username,
            GETDATE()
        FROM mae_val_canchas AS VLCAN
        WHERE VLCAN.cod_empresa = 3
          AND VLCAN.cod_empresa_unidad = 1
          AND VLCAN.cie_ano = @anioOrigen
          AND VLCAN.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1
              FROM mae_val_canchas d
              WHERE d.cod_empresa = VLCAN.cod_empresa
                AND d.cod_empresa_unidad = VLCAN.cod_empresa_unidad
                AND d.cie_ano = @anioDestino
                AND d.cie_per = @mesDestino
          );

        ------------------------------------------------
        -- 4️⃣ MAE FACTOR SOBREDILUCIÓN
        ------------------------------------------------
        INSERT INTO mae_factor_sobredilucion (
            cod_empresa,
            cod_empresa_unidad,
            cie_ano,
            cie_per,
            val_fac_ag,
            val_fac_cu,
            val_fac_pb,
            val_fac_zn,
            val_fac_au,
            usu_creo,
            fec_creo
        )
        SELECT
            FS.cod_empresa,
            FS.cod_empresa_unidad,
            @anioDestino,
            @mesDestino,
            FS.val_fac_ag,
            FS.val_fac_cu,
            FS.val_fac_pb,
            FS.val_fac_zn,
            FS.val_fac_au,
            @username,
            GETDATE()
        FROM mae_factor_sobredilucion AS FS
        WHERE FS.cod_empresa = 3
          AND FS.cod_empresa_unidad = 1
          AND FS.cie_ano = @anioOrigen
          AND FS.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1
              FROM mae_factor_sobredilucion d
              WHERE d.cod_empresa = FS.cod_empresa
                AND d.cod_empresa_unidad = FS.cod_empresa_unidad
                AND d.cie_ano = @anioDestino
                AND d.cie_per = @mesDestino
          );

        ------------------------------------------------
        -- 5️⃣ MAE FACTOR RECUPERACIÓN (ORDEN BD)
        ------------------------------------------------
        INSERT INTO mae_factor_recuperacion (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per,
            val_fac_ag, val_fac_cu, val_fac_pb, val_fac_zn,
            val_fac_bud_ag, val_fac_bud_cu, val_fac_bud_pb, val_fac_bud_zn,
            val_con_ag, val_con_cu, val_con_pb, val_con_zn,
            usu_creo, fec_creo, usu_modi, fec_modi,
            val_fac_au, val_fac_bud_au, val_con_au
        )
        SELECT
            R.cod_empresa, R.cod_empresa_unidad, @anioDestino, @mesDestino,
            R.val_fac_ag, R.val_fac_cu, R.val_fac_pb, R.val_fac_zn,
            R.val_fac_bud_ag, R.val_fac_bud_cu, R.val_fac_bud_pb, R.val_fac_bud_zn,
            R.val_con_ag, R.val_con_cu, R.val_con_pb, R.val_con_zn,
            @username, GETDATE(), NULL, NULL,
            R.val_fac_au, R.val_fac_bud_au, R.val_con_au
        FROM mae_factor_recuperacion R
        WHERE R.cod_empresa = 3
          AND R.cod_empresa_unidad = 1
          AND R.cie_ano = @anioOrigen
          AND R.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_factor_recuperacion D 
              WHERE D.cod_empresa = R.cod_empresa AND D.cod_empresa_unidad = R.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino
          );

        ------------------------------------------------
        -- 6️⃣ MAE FACTOR (GENERAL)
        ------------------------------------------------
        INSERT INTO mae_factor (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per,
            fac_denmin, fac_denminyac, fac_dendes, fac_dialab, fac_vptmin, fac_tarhor,
            usu_creo, fec_creo, usu_modi, fec_modi,
            fac_porcum, fac_porhum, fac_tms_dif
        )
        SELECT
            F.cod_empresa, F.cod_empresa_unidad, @anioDestino, @mesDestino,
            F.fac_denmin, F.fac_denminyac, F.fac_dendes, F.fac_dialab, F.fac_vptmin, F.fac_tarhor,
            @username, GETDATE(), NULL, NULL,
            F.fac_porcum, F.fac_porhum, F.fac_tms_dif
        FROM mae_factor F
        WHERE F.cod_empresa = 3
          AND F.cod_empresa_unidad = 1
          AND F.cie_ano = @anioOrigen
          AND F.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_factor D 
              WHERE D.cod_empresa = F.cod_empresa AND D.cod_empresa_unidad = F.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino
          );

        ------------------------------------------------
        -- 7️⃣ MAE VAL OPERATIVO DETALLE (ORDEN BD)
        ------------------------------------------------
        INSERT INTO mae_val_operativo_detalle (
            cod_empresa, cod_empresa_unidad, val_ano, val_per,
            val_tipo_fac, val_des_tipo_fac, val_ind_principal,
            val_fac_ag, val_fac_cu, val_fac_pb, val_fac_zn, val_fac_au,
            usu_creo, fec_creo, usu_modi, fec_modi,
            val_fac_rec_ag, val_fac_rec_cu, val_fac_rec_pb, val_fac_rec_zn, val_fac_rec_au
        )
        SELECT
            O.cod_empresa, O.cod_empresa_unidad, @anioDestino, @mesDestino,
            O.val_tipo_fac, O.val_des_tipo_fac, O.val_ind_principal,
            O.val_fac_ag, O.val_fac_cu, O.val_fac_pb, O.val_fac_zn, O.val_fac_au,
            @username, GETDATE(), NULL, NULL,
            O.val_fac_rec_ag, O.val_fac_rec_cu, O.val_fac_rec_pb, O.val_fac_rec_zn, O.val_fac_rec_au
        FROM mae_val_operativo_detalle O
        WHERE O.cod_empresa = 3
          AND O.cod_empresa_unidad = 1
          AND O.val_ano = @anioOrigen
          AND O.val_per = @mesOrigen
          AND O.val_des_tipo_fac = 'GENERAL'
          AND NOT EXISTS (
              SELECT 1 FROM mae_val_operativo_detalle D 
              WHERE D.cod_empresa = O.cod_empresa AND D.cod_empresa_unidad = O.cod_empresa_unidad
              AND D.val_ano = @anioDestino AND D.val_per = @mesDestino AND D.val_des_tipo_fac = 'GENERAL'
          );

        ------------------------------------------------
        -- 8️⃣ MAE TIP LAB ESTANDAR
        ------------------------------------------------
        INSERT INTO mae_tip_lab_estandar (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per, cod_tiplab,
            nro_lab_ancho, nro_lab_altura, nro_lab_pieper, nro_lab_broca, nro_lab_barcon,
            nro_lab_barren, nro_lab_facpot, nro_lab_fulmin, nro_lab_conect, nro_lab_punmar,
            nro_lab_tabla, ind_lab_apr, usu_creo, fec_creo, usu_modi, fec_modi, usu_apr, fec_apr
        )
        SELECT
            L.cod_empresa, L.cod_empresa_unidad, @anioDestino, @mesDestino, L.cod_tiplab,
            L.nro_lab_ancho, L.nro_lab_altura, L.nro_lab_pieper, L.nro_lab_broca, L.nro_lab_barcon,
            L.nro_lab_barren, L.nro_lab_facpot, L.nro_lab_fulmin, L.nro_lab_conect, L.nro_lab_punmar,
            L.nro_lab_tabla, L.ind_lab_apr, @username, GETDATE(), NULL, NULL, NULL, NULL
        FROM mae_tip_lab_estandar L
        WHERE L.cod_empresa = 3
          AND L.cod_empresa_unidad = 1
          AND L.cie_ano = @anioOrigen
          AND L.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_tip_lab_estandar D 
              WHERE D.cod_empresa = L.cod_empresa AND D.cod_empresa_unidad = L.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino AND D.cod_tiplab = L.cod_tiplab
          );

        ------------------------------------------------
        -- 9️⃣ MAE PER MET EXPLOTACION
        ------------------------------------------------
        INSERT INTO mae_per_met_explotacion (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per, cod_metexp, nom_metexp,
            fac_metexp, ind_act, usu_creo, fec_creo, usu_modi, fec_modi,
            ind_calculo_dilucion, ind_calculo_leyes_min
        )
        SELECT
            mpe.cod_empresa, mpe.cod_empresa_unidad, @anioDestino, @mesDestino, mpe.cod_metexp, mpe.nom_metexp,
            mpe.fac_metexp, mpe.ind_act, @username, GETDATE(), NULL, NULL,
            mpe.ind_calculo_dilucion, mpe.ind_calculo_leyes_min
        FROM mae_per_met_explotacion mpe
        WHERE mpe.cod_empresa = 3
          AND mpe.cod_empresa_unidad = 1
          AND mpe.cie_ano = @anioOrigen
          AND mpe.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_per_met_explotacion D 
              WHERE D.cod_empresa = mpe.cod_empresa AND D.cod_empresa_unidad = mpe.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino AND D.cod_metexp = mpe.cod_metexp
          );

        ------------------------------------------------
        -- 🔟 MAE SEMANA PERIODO
        ------------------------------------------------
        INSERT INTO mae_semana_periodo (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per,
            num_semana, fec_ini, fec_fin, desc_semana, usu_creo, fec_creo
        )
        SELECT
            msp.cod_empresa, msp.cod_empresa_unidad, @anioDestino, @mesDestino,
            msp.num_semana, msp.fec_ini, msp.fec_fin, msp.desc_semana, @username, GETDATE()
        FROM mae_semana_periodo msp
        WHERE msp.cod_empresa = 3
          AND msp.cod_empresa_unidad = 1
          AND msp.cie_ano = @anioOrigen
          AND msp.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_semana_periodo D 
              WHERE D.cod_empresa = msp.cod_empresa AND D.cod_empresa_unidad = msp.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino AND D.num_semana = msp.num_semana
          );

        ------------------------------------------------
        -- 1️⃣1️⃣ MAE SEMANA AVANCE
        ------------------------------------------------
        INSERT INTO mae_semana_avance (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per,
            num_semana, fec_ini, fec_fin, desc_semana, usu_creo, fec_creo
        )
        SELECT
            msp.cod_empresa, msp.cod_empresa_unidad, @anioDestino, @mesDestino,
            msp.num_semana, msp.fec_ini, msp.fec_fin, msp.desc_semana, @username, GETDATE()
        FROM mae_semana_avance msp
        WHERE msp.cod_empresa = 3
          AND msp.cod_empresa_unidad = 1
          AND msp.cie_ano = @anioOrigen
          AND msp.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_semana_avance D 
              WHERE D.cod_empresa = msp.cod_empresa AND D.cod_empresa_unidad = msp.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino AND D.num_semana = msp.num_semana
          );

        ------------------------------------------------
        -- 1️⃣2️⃣ MAE EXP ESTANDAR
        ------------------------------------------------
        INSERT INTO mae_exp_estandar (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per, cod_zona,
            lab_pieper, lab_broca, lab_barcon, lab_barren, lab_facpot,
            lab_fulmin, lab_conect, lab_punmar, lab_tabla, lab_apr,
            usu_creo, fec_creo, usu_modi, fec_modi, usu_apr, fec_apr
        )
        SELECT
            expl.cod_empresa, expl.cod_empresa_unidad, @anioDestino, @mesDestino, expl.cod_zona,
            expl.lab_pieper, expl.lab_broca, expl.lab_barcon, expl.lab_barren, expl.lab_facpot,
            expl.lab_fulmin, expl.lab_conect, expl.lab_punmar, expl.lab_tabla, expl.lab_apr,
            @username, GETDATE(), NULL, NULL, NULL, NULL
        FROM mae_exp_estandar expl
        WHERE expl.cod_empresa = 3
          AND expl.cod_empresa_unidad = 1
          AND expl.cie_ano = @anioOrigen
          AND expl.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_exp_estandar D 
              WHERE D.cod_empresa = expl.cod_empresa AND D.cod_empresa_unidad = expl.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino AND D.cod_zona = expl.cod_zona
          );

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@msg, 16, 1);
    END CATCH
END