CREATE PROCEDURE sp_guardar_datos
(
    @json NVARCHAR(MAX),
    @anioDestino VARCHAR(4),
    @mesDestino VARCHAR(2),
    @username VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        ------------------------------------------------
        -- Insertar VALORES → mae_val_operativo
        ------------------------------------------------
        INSERT INTO mae_val_operativo (
            cod_empresa, cod_empresa_unidad, val_ano, val_per,
            val_fac_ag, val_pre_ag, val_fac_cu, val_pre_cu,
            val_fac_pb, val_pre_pb, val_fac_zn, val_pre_zn,
            val_fac_au, val_pre_au, val_fac_bud_ag, val_fac_bud_cu,
            val_fac_bud_pb, val_fac_bud_zn, val_fac_bud_au,
            val_con_ag, val_con_cu, val_con_pb, val_con_zn, val_con_au,
            usu_creo, fec_creo
        )
        SELECT
            3, 1, @anioDestino, @mesDestino,
            val_fac_ag, val_pre_ag, val_fac_cu, val_pre_cu,
            val_fac_pb, val_pre_pb, val_fac_zn, val_pre_zn,
            val_fac_au, val_pre_au, val_fac_bud_ag, val_fac_bud_cu,
            val_fac_bud_pb, val_fac_bud_zn, val_fac_bud_au,
            val_con_ag, val_con_cu, val_con_pb, val_con_zn, val_con_au,
            @username, GETDATE()
        FROM OPENJSON(@json, '$.valores')
        WITH (
            val_fac_ag NVARCHAR(20),
            val_pre_ag NVARCHAR(20),
            val_fac_cu NVARCHAR(20),
            val_pre_cu NVARCHAR(20),
            val_fac_pb NVARCHAR(20),
            val_pre_pb NVARCHAR(20),
            val_fac_zn NVARCHAR(20),
            val_pre_zn NVARCHAR(20),
            val_fac_au NVARCHAR(20),
            val_pre_au NVARCHAR(20),
            val_fac_bud_ag NVARCHAR(20),
            val_fac_bud_cu NVARCHAR(20),
            val_fac_bud_pb NVARCHAR(20),
            val_fac_bud_zn NVARCHAR(20),
            val_fac_bud_au NVARCHAR(20),
            val_con_ag NVARCHAR(20),
            val_con_cu NVARCHAR(20),
            val_con_pb NVARCHAR(20),
            val_con_zn NVARCHAR(20),
            val_con_au NVARCHAR(20)
        );

        ------------------------------------------------
        -- Insertar CANCHAS → mae_val_canchas
        ------------------------------------------------
        INSERT INTO mae_val_canchas (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per,
            val_tms, val_ag, val_cu, val_pb, val_zn, val_vpt,
            usu_creo, fec_creo
        )
        SELECT
            3, 1, @anioDestino, @mesDestino,
            val_tms, val_ag, val_cu, val_pb, val_zn, val_vpt,
            @username, GETDATE()
        FROM OPENJSON(@json, '$.canchas')
        WITH (
            val_tms NVARCHAR(20),
            val_ag NVARCHAR(20),
            val_cu NVARCHAR(20),
            val_pb NVARCHAR(20),
            val_zn NVARCHAR(20),
            val_vpt NVARCHAR(20)
        );

        ------------------------------------------------
        -- Insertar FACTOR → mae_factor
        ------------------------------------------------
        INSERT INTO mae_factor (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per,
            fac_denmin, fac_dendes, fac_vptmin, fac_dialab,
            fac_tarhor, fac_porcum, fac_porhum,
            val_fac_ag, val_fac_cu, val_fac_pb, val_fac_zn, val_fac_au,
            val_fac_rec_ag, val_fac_rec_cu, val_fac_rec_pb, val_fac_rec_zn, val_fac_rec_au,
            val_des_tipo_fac, usu_creo, fec_creo
        )
        SELECT
            3, 1, @anioDestino, @mesDestino,
            fac_denmin, fac_dendes, fac_vptmin, fac_dialab,
            fac_tarhor, fac_porcum, fac_porhum,
            val_fac_ag, val_fac_cu, val_fac_pb, val_fac_zn, val_fac_au,
            val_fac_rec_ag, val_fac_rec_cu, val_fac_rec_pb, val_fac_rec_zn, val_fac_rec_au,
            val_des_tipo_fac,
            @username, GETDATE()
        FROM OPENJSON(@json, '$.factor')
        WITH (
            fac_denmin NVARCHAR(20),
            fac_dendes NVARCHAR(20),
            fac_vptmin NVARCHAR(20),
            fac_dialab NVARCHAR(20),
            fac_tarhor NVARCHAR(20),
            fac_porcum NVARCHAR(20),
            fac_porhum NVARCHAR(20),
            val_fac_ag NVARCHAR(20),
            val_fac_cu NVARCHAR(20),
            val_fac_pb NVARCHAR(20),
            val_fac_zn NVARCHAR(20),
            val_fac_au NVARCHAR(20),
            val_fac_rec_ag NVARCHAR(20),
            val_fac_rec_cu NVARCHAR(20),
            val_fac_rec_pb NVARCHAR(20),
            val_fac_rec_zn NVARCHAR(20),
            val_fac_rec_au NVARCHAR(20),
            val_des_tipo_fac NVARCHAR(50)
        );

        ------------------------------------------------
        -- Insertar FACTOR OPERATIVO → mae_val_operativo_detalle
        ------------------------------------------------
        INSERT INTO mae_val_operativo_detalle (
            cod_empresa, cod_empresa_unidad, val_ano, val_per,
            fac_denmin, fac_dendes, fac_vptmin, fac_dialab,
            fac_tarhor, fac_porcum, fac_porhum, fac_tms_dif,
            usu_creo, fec_creo
        )
        SELECT
            3, 1, @anioDestino, @mesDestino,
            fac_denmin, fac_dendes, fac_vptmin, fac_dialab,
            fac_tarhor, fac_porcum, fac_porhum, fac_tms_dif,
            @username, GETDATE()
        FROM OPENJSON(@json, '$.factorOperativo')
        WITH (
            fac_denmin NVARCHAR(20),
            fac_dendes NVARCHAR(20),
            fac_vptmin NVARCHAR(20),
            fac_dialab NVARCHAR(20),
            fac_tarhor NVARCHAR(20),
            fac_porcum NVARCHAR(20),
            fac_porhum NVARCHAR(20),
            fac_tms_dif NVARCHAR(20)
        );

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END