DROP PROC sp_IR_cargar_datos
CREATE PROCEDURE sp_IR_cargar_datos
     @cod_empresa VARCHAR(4),
     @cod_empresa_unidad VARCHAR(4),
    @month VARCHAR(2),
    @anio VARCHAR(4)
AS
BEGIN
    SET NOCOUNT ON;

    -- 1 Cierre de periodo
    SELECT CP.cie_per, CP.fec_ini, CP.fec_fin, CP.cie_ano
    FROM trb_cierre_periodo AS CP
    WHERE CP.cie_ano = @anio AND CP.cie_per = @month
    ORDER BY CAST(CP.cie_per AS INT);

    -- 2 Factor operativo
    SELECT VALOP.val_fac_ag, VALOP.val_pre_ag, VALOP.val_fac_cu, VALOP.val_pre_cu, 
           VALOP.val_fac_pb, VALOP.val_pre_pb, VALOP.val_fac_zn, VALOP.val_pre_zn, 
           VALOP.val_fac_au, VALOP.val_pre_au
    FROM mae_val_operativo VALOP
    WHERE VALOP.cod_empresa = 3 AND VALOP.cod_empresa_unidad = 1 
      AND VALOP.val_ano = @anio AND VALOP.val_per = @month;

    -- 3 Canchas
    SELECT VLCAN.val_tms, VLCAN.val_ag, VLCAN.val_cu, VLCAN.val_pb, VLCAN.val_zn, VLCAN.val_vpt
    FROM mae_val_canchas AS VLCAN
    WHERE VLCAN.cod_empresa = 3 AND VLCAN.cod_empresa_unidad = 1 
      AND VLCAN.cie_ano = @anio AND VLCAN.cie_per = @month;

    -- 4 Factor sobredilución
    SELECT FS.val_fac_ag, FS.val_fac_cu, FS.val_fac_pb, FS.val_fac_zn, FS.val_fac_au
    FROM mae_factor_sobredilucion AS FS
    WHERE FS.cod_empresa = 3 AND FS.cod_empresa_unidad = 1 
      AND FS.cie_ano = @anio AND FS.cie_per = @month;

    -- 5 Recuperación budget
    SELECT R.val_fac_bud_ag, R.val_fac_bud_cu, R.val_fac_bud_pb, R.val_fac_bud_zn, R.val_fac_bud_au,
           R.val_con_ag, R.val_con_cu, R.val_con_pb, R.val_con_zn, R.val_con_au
    FROM mae_factor_recuperacion AS R
    WHERE R.cod_empresa = 3 AND R.cod_empresa_unidad = 1 
      AND R.cie_ano = @anio AND R.cie_per = @month;

    -- 6 Factor general
    SELECT F.fac_denmin, F.fac_dendes, F.fac_vptmin, F.fac_dialab, F.fac_tarhor,
           F.fac_porcum, F.fac_porhum, F.fac_tms_dif
    FROM mae_factor AS F
    WHERE F.cod_empresa = 3 AND F.cod_empresa_unidad = 1 
      AND F.cie_ano = @anio AND F.cie_per = @month;

    -- 7 Detalle operativo
    SELECT O.val_fac_rec_ag, O.val_fac_rec_cu, O.val_fac_rec_pb, O.val_fac_rec_zn, O.val_fac_rec_au,
           O.val_des_tipo_fac
    FROM mae_val_operativo_detalle AS O
    WHERE O.cod_empresa = 3 AND O.cod_empresa_unidad = 1 
      AND O.val_ano = @anio AND O.val_per = @month 
      AND O.val_des_tipo_fac = 'GENERAL';

    -- 8 Tabs Labor Estándar
    SELECT L.cod_tiplab, L.nro_lab_ancho, L.nro_lab_altura, L.nro_lab_pieper, L.nro_lab_broca,
           L.nro_lab_barcon, L.nro_lab_barren, L.nro_lab_facpot, L.nro_lab_fulmin, L.nro_lab_conect,
           L.nro_lab_punmar, L.nro_lab_tabla
    FROM mae_tip_lab_estandar AS L
    WHERE L.cod_empresa = 3 AND L.cod_empresa_unidad = 1 
      AND L.cie_ano = @anio AND L.cie_per = @month;

    -- 9 Método Minado
    SELECT mpe.cod_metexp AS cod_metexp, mpe.nom_metexp AS nom_metexp,
           mpe.ind_calculo_dilucion AS ind_calculo_dilucion,
           mpe.ind_calculo_leyes_min AS ind_calculo_leyes_min,
           mpe.ind_act AS ind_act
    FROM mae_per_met_explotacion AS mpe
    WHERE mpe.cod_empresa = 3 AND mpe.cod_empresa_unidad = 1
      AND mpe.cie_ano = @anio AND mpe.cie_per = @month;
      
    -- 10 SEMANAS CICLO
	SELECT 
		msp.num_semana AS num_semana,
		msp.fec_ini AS fec_ini,
		msp.fec_fin AS fec_fin,
		msp.desc_semana AS desc_semana
	FROM mae_semana_periodo as msp
	WHERE msp.cod_empresa = 03
	  AND msp.cod_empresa_unidad = 01
	  AND msp.cie_ano = @anio
	  AND msp.cie_per = @month;
	  
	  
	--11 SEMANAS AVANCE 
	SELECT msp.num_semana AS num_semana,
		msp.fec_ini AS fec_ini,
		msp.fec_fin AS fec_fin,
		msp.desc_semana AS desc_semana from mae_semana_avance msp WHERE 
		msp.cod_empresa = 03
		  AND msp.cod_empresa_unidad = 01
		  AND msp.cie_ano = @anio
		  AND msp.cie_per = @month;
		  
SELECT
expl.cod_zona as cod_zona,
expl.lab_pieper as lab_pieper,
expl.lab_broca as lab_broca,
expl.lab_barcon as lab_barcon,
expl.lab_barren as lab_barren,
expl.lab_facpot as  lab_facpot,
expl.lab_fulmin as lab_fulmin,
expl.lab_conect as lab_conect,
expl.lab_punmar as  lab_punmar,
expl.lab_tabla as  lab_tabla,
expl.lab_apr as lab_apr
FROM
    mae_exp_estandar as expl
WHERE
    (expl.cod_empresa = 03)
    AND (expl.cod_empresa_unidad = 01)
    AND (expl.cie_ano = @anio)
    AND (expl.cie_per = @month);

END;


   SELECT VALOP.val_fac_ag, VALOP.val_pre_ag, VALOP.val_fac_cu, VALOP.val_pre_cu, 
           VALOP.val_fac_pb, VALOP.val_pre_pb, VALOP.val_fac_zn, VALOP.val_pre_zn, 
           VALOP.val_fac_au, VALOP.val_pre_au
    FROM mae_val_operativo VALOP
    WHERE VALOP.cod_empresa = 3 AND VALOP.cod_empresa_unidad = 1 
      AND VALOP.val_ano = 2026 AND VALOP.val_per = 01;

		  

select * from mae_val_operativo

select * From trb_cierre_periodo

delete from trb_cierre_periodo WHERE cie_ano = 2026

select * from mae_val_operativo

delete from mae_val_operativo WHERE val_ano = 2026

sp_IR_insertar_copiar_periodo '2026', '12', '2026-01-06 17:12:53.613', '2026-01-06 17:12:53.613', 'enoc'

create proc sp_IR_insertar_copiar_periodo
@cie_ano varchar(20),
@cie_per varchar(2),
@fec_ini DATETIME,
@fec_fin DATETIME,
@usu_creo varchar(50)
AS
BEGIN 
	INSERT INTO trb_cierre_periodo (
    cod_empresa,
    cod_empresa_unidad,
    cie_ano,
    cie_per,
    fec_ini,
    fec_fin,
    usu_creo,
    fec_creo
)
VALUES
(
'03', 
'01', 
@cie_ano,
@cie_per, 
@fec_ini, 
@fec_fin, 
@usu_creo,
getDate()
)
END


INSERT INTO trb_cierre_periodo (cie_per, cie_ano, fec_ini, fec_fin, usu_creo)
SELECT @mesDestino, @anioDestino, fec_ini, fec_fin, @usuario
FROM trb_cierre_periodo
WHERE cie_ano = @anioOrigen AND cie_per = @mesOrigen;





    SELECT VALOP.val_fac_ag, VALOP.val_pre_ag, VALOP.val_fac_cu, VALOP.val_pre_cu, 
           VALOP.val_fac_pb, VALOP.val_pre_pb, VALOP.val_fac_zn, VALOP.val_pre_zn, 
           VALOP.val_fac_au, VALOP.val_pre_au
    FROM mae_val_operativo VALOP
    WHERE VALOP.cod_empresa = 3 AND VALOP.cod_empresa_unidad = 1 
      AND VALOP.val_ano = @anio AND VALOP.val_per = @month;



/*
{
  "anioOrigen": "string",
  "mesOrigen": "string",
  
  
  "anioDestino": "string",
  "mesDestino": "string",
  "fechaInicioDestino": "string",
  "fechaFinDestino": "string",
  "username": "string"
}
*/

DECLARE @anioDestino VARCHAR(10) = '2026';
DECLARE @mesDestino VARCHAR(10) = '12';
DECLARE @username VARCHAR(50) = 'practicante_inoc';
DECLARE @anioOrigen VARCHAR(10) = '2019';
DECLARE @mesOrigen VARCHAR(10) = '12';

INSERT INTO mae_val_operativo (
cod_empresa, 
cod_empresa_unidad,
val_ano,
val_per,
val_vig, 
val_fac_ag, 
val_pre_ag, 
val_fac_cu, 
val_pre_cu, 
val_fac_pb, 
val_pre_pb, 
val_fac_zn, 
val_pre_zn, 
val_fac_au, 
val_pre_au,
usu_creo,
fec_creo
)
SELECT 
cod_empresa, 
cod_empresa_unidad, 
@anioDestino, 
@mesDestino, 
val_vig,
val_fac_ag, 
val_pre_ag, 
val_fac_cu, 
val_pre_cu, 
val_fac_pb, 
val_pre_pb, 
val_fac_zn, 
val_pre_zn, 
val_fac_au, 
val_pre_au,
@username,
getdate()
FROM mae_val_operativo
WHERE 
val_ano = @anioOrigen 
AND val_per = @mesOrigen;


    SELECT VALOP.val_fac_ag, VALOP.val_pre_ag, VALOP.val_fac_cu, VALOP.val_pre_cu, 
           VALOP.val_fac_pb, VALOP.val_pre_pb, VALOP.val_fac_zn, VALOP.val_pre_zn, 
           VALOP.val_fac_au, VALOP.val_pre_au
    FROM mae_val_operativo VALOP
    WHERE VALOP.cod_empresa = 3 AND VALOP.cod_empresa_unidad = 1 
      AND VALOP.val_ano = 2026 AND VALOP.val_per = 12;



/* SELECT * FROM trb_cierre_periodo */
/*SP PARA INSERTAR DATOS*/

sp_IR_copiar_datos_periodo '2019', '12', '2026', '12', 'pracitante inoc'

drop proc sp_IR_copiar_datos_periodo


CREATE PROCEDURE sp_IR_copiar_datos_periodo
(
    @anioOrigen  VARCHAR(4),
    @mesOrigen   VARCHAR(2),
    @anioDestino VARCHAR(4),
    @mesDestino  VARCHAR(2),
    @username    VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        ------------------------------------------------
        -- 1️⃣ CIERRE PERIODO
        ------------------------------------------------
        INSERT INTO trb_cierre_periodo (
            cod_empresa,
            cod_empresa_unidad,
            cie_ano,
            cie_per,
            fec_ini,
            fec_fin,
            usu_creo,
            fec_creo
        )
        SELECT 
            cod_empresa,
            cod_empresa_unidad,
            @anioDestino,
            @mesDestino,
            fec_ini,
            fec_fin,
            @username,
            GETDATE()
        FROM trb_cierre_periodo
        WHERE cie_ano = @anioOrigen
          AND cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 
              FROM trb_cierre_periodo d
              WHERE d.cie_ano = @anioDestino
                AND d.cie_per = @mesDestino
          );

        ------------------------------------------------
        -- 2️⃣ MAE VAL OPERATIVO
        ------------------------------------------------
        INSERT INTO mae_val_operativo (
            cod_empresa,
            cod_empresa_unidad,
            val_ano,
            val_per,
            val_vig,
            val_fac_ag,
            val_pre_ag,
            val_fac_cu,
            val_pre_cu,
            val_fac_pb,
            val_pre_pb,
            val_fac_zn,
            val_pre_zn,
            val_fac_au,
            val_pre_au,
            usu_creo,
            fec_creo
        )
        SELECT
            cod_empresa,
            cod_empresa_unidad,
            @anioDestino,
            @mesDestino,
            val_vig,
            val_fac_ag,
            val_pre_ag,
            val_fac_cu,
            val_pre_cu,
            val_fac_pb,
            val_pre_pb,
            val_fac_zn,
            val_pre_zn,
            val_fac_au,
            val_pre_au,
            @username,
            GETDATE()
        FROM mae_val_operativo
        WHERE val_ano = @anioOrigen
          AND val_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 
              FROM mae_val_operativo d
              WHERE d.val_ano = @anioDestino
                AND d.val_per = @mesDestino
          );

        ------------------------------------------------
        -- 3️⃣ MAE VAL CANCHAS
        ------------------------------------------------
        INSERT INTO mae_val_canchas (
            cod_empresa,
            cod_empresa_unidad,
            cie_ano,
            cie_per,
            val_tms,
            val_ag,
            val_cu,
            val_pb,
            val_zn,
            val_vpt,
            usu_creo,
            fec_creo
        )
        SELECT 
            VLCAN.cod_empresa,
            VLCAN.cod_empresa_unidad,
            @anioDestino,
            @mesDestino,
            VLCAN.val_tms,
            VLCAN.val_ag,
            VLCAN.val_cu,
            VLCAN.val_pb,
            VLCAN.val_zn,
            VLCAN.val_vpt,
            @username,
            GETDATE()
        FROM mae_val_canchas AS VLCAN
        WHERE VLCAN.cod_empresa = 3
          AND VLCAN.cod_empresa_unidad = 1
          AND VLCAN.cie_ano = @anioOrigen
          AND VLCAN.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1
              FROM mae_val_canchas d
              WHERE d.cod_empresa = VLCAN.cod_empresa
                AND d.cod_empresa_unidad = VLCAN.cod_empresa_unidad
                AND d.cie_ano = @anioDestino
                AND d.cie_per = @mesDestino
          );

        ------------------------------------------------
        -- 4️⃣ MAE FACTOR SOBREDILUCIÓN
        ------------------------------------------------
        INSERT INTO mae_factor_sobredilucion (
            cod_empresa,
            cod_empresa_unidad,
            cie_ano,
            cie_per,
            val_fac_ag,
            val_fac_cu,
            val_fac_pb,
            val_fac_zn,
            val_fac_au,
            usu_creo,
            fec_creo
        )
        SELECT
            FS.cod_empresa,
            FS.cod_empresa_unidad,
            @anioDestino,
            @mesDestino,
            FS.val_fac_ag,
            FS.val_fac_cu,
            FS.val_fac_pb,
            FS.val_fac_zn,
            FS.val_fac_au,
            @username,
            GETDATE()
        FROM mae_factor_sobredilucion AS FS
        WHERE FS.cod_empresa = 3
          AND FS.cod_empresa_unidad = 1
          AND FS.cie_ano = @anioOrigen
          AND FS.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1
              FROM mae_factor_sobredilucion d
              WHERE d.cod_empresa = FS.cod_empresa
                AND d.cod_empresa_unidad = FS.cod_empresa_unidad
                AND d.cie_ano = @anioDestino
                AND d.cie_per = @mesDestino
          );

        ------------------------------------------------
        -- 5️⃣ MAE FACTOR RECUPERACIÓN (ORDEN BD)
        ------------------------------------------------
        INSERT INTO mae_factor_recuperacion (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per,
            val_fac_ag, val_fac_cu, val_fac_pb, val_fac_zn,
            val_fac_bud_ag, val_fac_bud_cu, val_fac_bud_pb, val_fac_bud_zn,
            val_con_ag, val_con_cu, val_con_pb, val_con_zn,
            usu_creo, fec_creo, usu_modi, fec_modi,
            val_fac_au, val_fac_bud_au, val_con_au
        )
        SELECT
            R.cod_empresa, R.cod_empresa_unidad, @anioDestino, @mesDestino,
            R.val_fac_ag, R.val_fac_cu, R.val_fac_pb, R.val_fac_zn,
            R.val_fac_bud_ag, R.val_fac_bud_cu, R.val_fac_bud_pb, R.val_fac_bud_zn,
            R.val_con_ag, R.val_con_cu, R.val_con_pb, R.val_con_zn,
            @username, GETDATE(), NULL, NULL,
            R.val_fac_au, R.val_fac_bud_au, R.val_con_au
        FROM mae_factor_recuperacion R
        WHERE R.cod_empresa = 3
          AND R.cod_empresa_unidad = 1
          AND R.cie_ano = @anioOrigen
          AND R.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_factor_recuperacion D 
              WHERE D.cod_empresa = R.cod_empresa AND D.cod_empresa_unidad = R.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino
          );

        ------------------------------------------------
        -- 6️⃣ MAE FACTOR (GENERAL)
        ------------------------------------------------
        INSERT INTO mae_factor (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per,
            fac_denmin, fac_denminyac, fac_dendes, fac_dialab, fac_vptmin, fac_tarhor,
            usu_creo, fec_creo, usu_modi, fec_modi,
            fac_porcum, fac_porhum, fac_tms_dif
        )
        SELECT
            F.cod_empresa, F.cod_empresa_unidad, @anioDestino, @mesDestino,
            F.fac_denmin, F.fac_denminyac, F.fac_dendes, F.fac_dialab, F.fac_vptmin, F.fac_tarhor,
            @username, GETDATE(), NULL, NULL,
            F.fac_porcum, F.fac_porhum, F.fac_tms_dif
        FROM mae_factor F
        WHERE F.cod_empresa = 3
          AND F.cod_empresa_unidad = 1
          AND F.cie_ano = @anioOrigen
          AND F.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_factor D 
              WHERE D.cod_empresa = F.cod_empresa AND D.cod_empresa_unidad = F.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino
          );

        ------------------------------------------------
        -- 7️⃣ MAE VAL OPERATIVO DETALLE (ORDEN BD)
        ------------------------------------------------
        INSERT INTO mae_val_operativo_detalle (
            cod_empresa, cod_empresa_unidad, val_ano, val_per,
            val_tipo_fac, val_des_tipo_fac, val_ind_principal,
            val_fac_ag, val_fac_cu, val_fac_pb, val_fac_zn, val_fac_au,
            usu_creo, fec_creo, usu_modi, fec_modi,
            val_fac_rec_ag, val_fac_rec_cu, val_fac_rec_pb, val_fac_rec_zn, val_fac_rec_au
        )
        SELECT
            O.cod_empresa, O.cod_empresa_unidad, @anioDestino, @mesDestino,
            O.val_tipo_fac, O.val_des_tipo_fac, O.val_ind_principal,
            O.val_fac_ag, O.val_fac_cu, O.val_fac_pb, O.val_fac_zn, O.val_fac_au,
            @username, GETDATE(), NULL, NULL,
            O.val_fac_rec_ag, O.val_fac_rec_cu, O.val_fac_rec_pb, O.val_fac_rec_zn, O.val_fac_rec_au
        FROM mae_val_operativo_detalle O
        WHERE O.cod_empresa = 3
          AND O.cod_empresa_unidad = 1
          AND O.val_ano = @anioOrigen
          AND O.val_per = @mesOrigen
          AND O.val_des_tipo_fac = 'GENERAL'
          AND NOT EXISTS (
              SELECT 1 FROM mae_val_operativo_detalle D 
              WHERE D.cod_empresa = O.cod_empresa AND D.cod_empresa_unidad = O.cod_empresa_unidad
              AND D.val_ano = @anioDestino AND D.val_per = @mesDestino AND D.val_des_tipo_fac = 'GENERAL'
          );

        ------------------------------------------------
        -- 8️⃣ MAE TIP LAB ESTANDAR
        ------------------------------------------------
        INSERT INTO mae_tip_lab_estandar (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per, cod_tiplab,
            nro_lab_ancho, nro_lab_altura, nro_lab_pieper, nro_lab_broca, nro_lab_barcon,
            nro_lab_barren, nro_lab_facpot, nro_lab_fulmin, nro_lab_conect, nro_lab_punmar,
            nro_lab_tabla, ind_lab_apr, usu_creo, fec_creo, usu_modi, fec_modi, usu_apr, fec_apr
        )
        SELECT
            L.cod_empresa, L.cod_empresa_unidad, @anioDestino, @mesDestino, L.cod_tiplab,
            L.nro_lab_ancho, L.nro_lab_altura, L.nro_lab_pieper, L.nro_lab_broca, L.nro_lab_barcon,
            L.nro_lab_barren, L.nro_lab_facpot, L.nro_lab_fulmin, L.nro_lab_conect, L.nro_lab_punmar,
            L.nro_lab_tabla, L.ind_lab_apr, @username, GETDATE(), NULL, NULL, NULL, NULL
        FROM mae_tip_lab_estandar L
        WHERE L.cod_empresa = 3
          AND L.cod_empresa_unidad = 1
          AND L.cie_ano = @anioOrigen
          AND L.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_tip_lab_estandar D 
              WHERE D.cod_empresa = L.cod_empresa AND D.cod_empresa_unidad = L.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino AND D.cod_tiplab = L.cod_tiplab
          );

        ------------------------------------------------
        -- 9️⃣ MAE PER MET EXPLOTACION
        ------------------------------------------------
        INSERT INTO mae_per_met_explotacion (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per, cod_metexp, nom_metexp,
            fac_metexp, ind_act, usu_creo, fec_creo, usu_modi, fec_modi,
            ind_calculo_dilucion, ind_calculo_leyes_min
        )
        SELECT
            mpe.cod_empresa, mpe.cod_empresa_unidad, @anioDestino, @mesDestino, mpe.cod_metexp, mpe.nom_metexp,
            mpe.fac_metexp, mpe.ind_act, @username, GETDATE(), NULL, NULL,
            mpe.ind_calculo_dilucion, mpe.ind_calculo_leyes_min
        FROM mae_per_met_explotacion mpe
        WHERE mpe.cod_empresa = 3
          AND mpe.cod_empresa_unidad = 1
          AND mpe.cie_ano = @anioOrigen
          AND mpe.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_per_met_explotacion D 
              WHERE D.cod_empresa = mpe.cod_empresa AND D.cod_empresa_unidad = mpe.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino AND D.cod_metexp = mpe.cod_metexp
          );

        ------------------------------------------------
        -- 🔟 MAE SEMANA PERIODO
        ------------------------------------------------
        INSERT INTO mae_semana_periodo (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per,
            num_semana, fec_ini, fec_fin, desc_semana, usu_creo, fec_creo
        )
        SELECT
            msp.cod_empresa, msp.cod_empresa_unidad, @anioDestino, @mesDestino,
            msp.num_semana, msp.fec_ini, msp.fec_fin, msp.desc_semana, @username, GETDATE()
        FROM mae_semana_periodo msp
        WHERE msp.cod_empresa = 3
          AND msp.cod_empresa_unidad = 1
          AND msp.cie_ano = @anioOrigen
          AND msp.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_semana_periodo D 
              WHERE D.cod_empresa = msp.cod_empresa AND D.cod_empresa_unidad = msp.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino AND D.num_semana = msp.num_semana
          );

        ------------------------------------------------
        -- 1️⃣1️⃣ MAE SEMANA AVANCE
        ------------------------------------------------
        INSERT INTO mae_semana_avance (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per,
            num_semana, fec_ini, fec_fin, desc_semana, usu_creo, fec_creo
        )
        SELECT
            msp.cod_empresa, msp.cod_empresa_unidad, @anioDestino, @mesDestino,
            msp.num_semana, msp.fec_ini, msp.fec_fin, msp.desc_semana, @username, GETDATE()
        FROM mae_semana_avance msp
        WHERE msp.cod_empresa = 3
          AND msp.cod_empresa_unidad = 1
          AND msp.cie_ano = @anioOrigen
          AND msp.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_semana_avance D 
              WHERE D.cod_empresa = msp.cod_empresa AND D.cod_empresa_unidad = msp.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino AND D.num_semana = msp.num_semana
          );

        ------------------------------------------------
        -- 1️⃣2️⃣ MAE EXP ESTANDAR
        ------------------------------------------------
        INSERT INTO mae_exp_estandar (
            cod_empresa, cod_empresa_unidad, cie_ano, cie_per, cod_zona,
            lab_pieper, lab_broca, lab_barcon, lab_barren, lab_facpot,
            lab_fulmin, lab_conect, lab_punmar, lab_tabla, lab_apr,
            usu_creo, fec_creo, usu_modi, fec_modi, usu_apr, fec_apr
        )
        SELECT
            expl.cod_empresa, expl.cod_empresa_unidad, @anioDestino, @mesDestino, expl.cod_zona,
            expl.lab_pieper, expl.lab_broca, expl.lab_barcon, expl.lab_barren, expl.lab_facpot,
            expl.lab_fulmin, expl.lab_conect, expl.lab_punmar, expl.lab_tabla, expl.lab_apr,
            @username, GETDATE(), NULL, NULL, NULL, NULL
        FROM mae_exp_estandar expl
        WHERE expl.cod_empresa = 3
          AND expl.cod_empresa_unidad = 1
          AND expl.cie_ano = @anioOrigen
          AND expl.cie_per = @mesOrigen
          AND NOT EXISTS (
              SELECT 1 FROM mae_exp_estandar D 
              WHERE D.cod_empresa = expl.cod_empresa AND D.cod_empresa_unidad = expl.cod_empresa_unidad
              AND D.cie_ano = @anioDestino AND D.cie_per = @mesDestino AND D.cod_zona = expl.cod_zona
          );

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@msg, 16, 1);
    END CATCH
END