select * from mae_factor

------------------------------------------------
-- ELIMINAR DATOS DEL AÑO 2026
------------------------------------------------

select * from mae_val_operativo_detalle
select * from trb_cierre_periodo 



select * from 

-- 1️⃣ CIERRE PERIODO
DELETE FROM trb_cierre_periodo
WHERE cie_ano = '2027'

-- 2️⃣ MAE VAL OPERATIVO
DELETE FROM mae_val_operativo WHERE
val_ano = '2027' 

-- 3️⃣ MAE VAL CANCHAS
DELETE FROM mae_val_canchas
WHERE cie_ano = '2027' 

-- 4️⃣ MAE FACTOR SOBREDILUCIÓN
DELETE FROM mae_factor_sobredilucion
WHERE cie_ano = '2027'


-- 5️⃣ MAE FACTOR RECUPERACIÓN
DELETE FROM mae_factor_recuperacion
WHERE cie_ano = '2027'


-- 6️⃣ MAE FACTOR (GENERAL)
DELETE FROM mae_factor
WHERE cie_ano = '2027'


-- 7️⃣ MAE VAL OPERATIVO DETALLE
DELETE FROM mae_val_operativo_detalle
WHERE val_ano = '2027' 

-- 8️⃣ MAE TIP LAB ESTANDAR
DELETE FROM mae_tip_lab_estandar
WHERE cie_ano = '2027'

-- 9️⃣ MAE PER MET EXPLOTACION
DELETE FROM mae_per_met_explotacion
WHERE cie_ano = '2027' 
-- 🔟 MAE SEMANA PERIODO
DELETE FROM mae_semana_periodo
WHERE cie_ano = '2027' 

-- 1️⃣1️⃣ MAE SEMANA AVANCE
DELETE FROM mae_semana_avance
WHERE cie_ano = '2027' 

-- 1️⃣2️⃣ MAE EXP ESTANDAR
DELETE FROM mae_exp_estandar
WHERE cie_ano = '2027' 

DELETE FROM mae_factor_sobredilucion
WHERE cie_ano = '2027' 

DELETE FROM mae_factor_recuperacion 
WHERE cie_ano = '2027' 


SELECT * 
FROM trb_cierre_periodo
WHERE cie_ano = '2027';

SELECT * 
FROM mae_factor_recuperacion
WHERE cie_ano = '2027';

-- 7️⃣ MAE VAL OPERATIVO DETALLE
SELECT * 
FROM mae_val_operativo_detalle
WHERE val_ano = '2027';


select * from mae_val_operativo WHERE  val_ano = '2019';














-- 2️⃣ MAE VAL OPERATIVO
SELECT * 
FROM mae_val_operativo
WHERE val_ano = '2019';

-- 3️⃣ MAE VAL CANCHAS
SELECT * 
FROM mae_val_canchas
WHERE cie_ano = '2019';








-- 4️⃣ MAE FACTOR SOBREDILUCIÓN
SELECT * 
FROM mae_factor_sobredilucion
WHERE cie_ano = '2019';

-- 5️⃣ MAE FACTOR RECUPERACIÓN


-- 6️⃣ MAE FACTOR (GENERAL)
SELECT * 
FROM mae_factor
WHERE cie_ano = '2019';



-- 8️⃣ MAE TIP LAB ESTANDAR
SELECT * 
FROM mae_tip_lab_estandar
WHERE cie_ano = '2026';

-- 9️⃣ MAE PER MET EXPLOTACION
SELECT * 
FROM mae_per_met_explotacion
WHERE cie_ano = '2019';

-- 🔟 MAE SEMANA PERIODO
SELECT * 
FROM mae_semana_periodo
WHERE cie_ano = '2019';

-- 1️⃣1️⃣ MAE SEMANA AVANCE
SELECT * 
FROM mae_semana_avance
WHERE cie_ano = '2019';

-- 1️⃣2️⃣ MAE EXP ESTANDAR
SELECT * 
FROM mae_exp_estandar
WHERE cie_ano = '2019';



select * from mae_periodo


SELECT 
    TABLE_SCHEMA,
    TABLE_NAME,
    COLUMN_NAME,
    DATA_TYPE,
    CHARACTER_MAXIMUM_LENGTH
FROM INFORMATION_SCHEMA.COLUMNS
WHERE COLUMN_NAME = 'val_fac_ag';

SELECT * FROM mae_val_operativo_detalle

sp_helptext 'SP_GUARDAR_MAE_FACTOR_RECUPERACION'


