select * from trb_cierre_periodo

CREATE OR ALTER PROCEDURE SP_GUARDAR_CIERRE_PERIODO
(
    @cod_empresa           VARCHAR(2),
    @cod_empresa_unidad    VARCHAR(2),
    @cie_ano               VARCHAR(4),
    @cie_per               VARCHAR(10),

    @fec_ini               DATETIME = NULL,
    @fec_fin               DATETIME = NULL,

    @usu_creo              VARCHAR(20) = NULL,
    @fec_creo              DATETIME = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- 🔎 Verificar si el período ya existe
    IF EXISTS (
        SELECT 1
        FROM trb_cierre_periodo
        WHERE cod_empresa = @cod_empresa
          AND cod_empresa_unidad = @cod_empresa_unidad
          AND cie_ano = @cie_ano
          AND cie_per = @cie_per
    )
    BEGIN
        -- 🔄 UPDATE (modo edición)
        UPDATE trb_cierre_periodo
        SET
            fec_ini  = @fec_ini,
            fec_fin  = @fec_fin,
            usu_modi = @usu_creo,
            fec_modi = GETDATE()
        WHERE cod_empresa = @cod_empresa
          AND cod_empresa_unidad = @cod_empresa_unidad
          AND cie_ano = @cie_ano
          AND cie_per = @cie_per;
    END
    ELSE
    BEGIN
        -- ➕ INSERT (nuevo)
        INSERT INTO trb_cierre_periodo
        (
            cod_empresa,
            cod_empresa_unidad,
            cie_ano,
            cie_per,
            fec_ini,
            fec_fin,
            usu_creo,
            fec_creo
        )
        VALUES
        (
            @cod_empresa,
            @cod_empresa_unidad,
            @cie_ano,
            @cie_per,
            @fec_ini,
            @fec_fin,
            @usu_creo,
            ISNULL(@fec_creo, GETDATE())
        );
    END
END;
GO


/*mae factor*/
CREATE PROCEDURE SP_GUARDAR_MAE_FACTOR
(
    @cod_empresa           VARCHAR(2),
    @cod_empresa_unidad    VARCHAR(2),
    @cie_ano               VARCHAR(4),
    @cie_per               VARCHAR(2),

    @fac_denmin            DECIMAL(18,4) = NULL,
    @fac_denminyac         DECIMAL(18,4) = NULL,
    @fac_dendes            DECIMAL(18,4) = NULL,
    @fac_dialab            DECIMAL(18,4) = NULL,
    @fac_vptmin            DECIMAL(18,4) = NULL,
    @fac_tarhor            DECIMAL(18,4) = NULL,
    @fac_porcum            DECIMAL(18,4) = NULL,
    @fac_porhum            NUMERIC(18,4) = NULL,
    @fac_tms_dif           NUMERIC(18,4) = NULL,

    @usu_creo              VARCHAR(20)
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO mae_factor
    (
        cod_empresa,
        cod_empresa_unidad,
        cie_ano,
        cie_per,
        fac_denmin,
        fac_denminyac,
        fac_dendes,
        fac_dialab,
        fac_vptmin,
        fac_tarhor,
        fac_porcum,
        fac_porhum,
        fac_tms_dif,
        usu_creo,
        fec_creo
    )
    VALUES
    (
        @cod_empresa,
        @cod_empresa_unidad,
        @cie_ano,
        @cie_per,
        @fac_denmin,
        @fac_denminyac,
        @fac_dendes,
        @fac_dialab,
        @fac_vptmin,
        @fac_tarhor,
        @fac_porcum,
        @fac_porhum,
        @fac_tms_dif,
        @usu_creo,
        GETDATE()
    );
END;
GO


/*FACTOR OPERATIVO*/
CREATE PROCEDURE SP_GUARDAR_MAE_VAL_OPERATIVO
(
    @cod_empresa           VARCHAR(2),
    @cod_empresa_unidad    VARCHAR(2),
    @val_ano               VARCHAR(4),
    @val_per               VARCHAR(2),
    @val_vig               VARCHAR(1),

    @val_fac_ag            DECIMAL(18,4) = NULL,
    @val_pre_ag            DECIMAL(18,4) = NULL,
    @val_fac_cu            DECIMAL(18,4) = NULL,
    @val_pre_cu            DECIMAL(18,4) = NULL,
    @val_fac_pb            DECIMAL(18,4) = NULL,
    @val_pre_pb            DECIMAL(18,4) = NULL,
    @val_fac_zn            DECIMAL(18,4) = NULL,
    @val_pre_zn            DECIMAL(18,4) = NULL,
    @val_fac_au            DECIMAL(18,4) = NULL,
    @val_pre_au            DECIMAL(18,4) = NULL,

    @usu_creo              VARCHAR(20) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO mae_val_operativo
    (
        cod_empresa,
        cod_empresa_unidad,
        val_ano,
        val_per,
        val_vig,
        val_fac_ag,
        val_pre_ag,
        val_fac_cu,
        val_pre_cu,
        val_fac_pb,
        val_pre_pb,
        val_fac_zn,
        val_pre_zn,
        val_fac_au,
        val_pre_au,
        usu_creo,
        fec_creo
    )
    VALUES
    (
        @cod_empresa,
        @cod_empresa_unidad,
        @val_ano,
        @val_per,
        @val_vig,
        @val_fac_ag,
        @val_pre_ag,
        @val_fac_cu,
        @val_pre_cu,
        @val_fac_pb,
        @val_pre_pb,
        @val_fac_zn,
        @val_pre_zn,
        @val_fac_au,
        @val_pre_au,
        @usu_creo,
        GETDATE()
    );
END;
GO
/*mae_val_operativo_detalle**/

CREATE PROCEDURE SP_GUARDAR_MAE_VAL_OPERATIVO_DETALLE
(
    -- ?? Claves
    @cod_empresa        VARCHAR(2),
    @cod_empresa_unidad VARCHAR(2),
    @val_ano            VARCHAR(4),
    @val_per            VARCHAR(2),
    @val_tipo_fac       VARCHAR(5),
    @val_des_tipo_fac   VARCHAR(20),
    @val_ind_principal  VARCHAR(1),

    -- ?? Factores
    @val_fac_ag         DECIMAL(18,4) = NULL,
    @val_fac_cu         DECIMAL(18,4) = NULL,
    @val_fac_pb         DECIMAL(18,4) = NULL,
    @val_fac_zn         DECIMAL(18,4) = NULL,
    @val_fac_au         DECIMAL(18,4) = NULL,
    @val_fac_rec_ag     DECIMAL(18,4) = NULL,
    @val_fac_rec_cu     DECIMAL(18,4) = NULL,
    @val_fac_rec_pb     DECIMAL(18,4) = NULL,
    @val_fac_rec_zn     DECIMAL(18,4) = NULL,
    @val_fac_rec_au     DECIMAL(18,4) = NULL,

    -- ?? Auditoría
    @usu_creo           VARCHAR(20) = NULL,
    @fec_creo           DATETIME = NULL,
    @usu_modi           VARCHAR(20) = NULL,
    @fec_modi           DATETIME = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO mae_val_operativo_detalle
    (
        cod_empresa,
        cod_empresa_unidad,
        val_ano,
        val_per,
        val_tipo_fac,
        val_des_tipo_fac,
        val_ind_principal,
        val_fac_ag,
        val_fac_cu,
        val_fac_pb,
        val_fac_zn,
        val_fac_au,
        val_fac_rec_ag,
        val_fac_rec_cu,
        val_fac_rec_pb,
        val_fac_rec_zn,
        val_fac_rec_au,
        usu_creo,
        fec_creo,
        usu_modi,
        fec_modi
    )
    VALUES
    (
        @cod_empresa,
        @cod_empresa_unidad,
        @val_ano,
        @val_per,
        @val_tipo_fac,
        @val_des_tipo_fac,
        @val_ind_principal,
        @val_fac_ag,
        @val_fac_cu,
        @val_fac_pb,
        @val_fac_zn,
        @val_fac_au,
        @val_fac_rec_ag,
        @val_fac_rec_cu,
        @val_fac_rec_pb,
        @val_fac_rec_zn,
        @val_fac_rec_au,
        @usu_creo,
        ISNULL(@fec_creo, GETDATE()),
        @usu_modi,
        @fec_modi
    );
END;
GO

/*MAE VAL_CANCHAS**/
CREATE PROCEDURE SP_GUARDAR_MAE_VAL_CANCHAS
(
    -- ?? Claves
    @cod_empresa        VARCHAR(2),
    @cod_empresa_unidad VARCHAR(2),
    @cie_ano            VARCHAR(4),
    @cie_per            VARCHAR(2),

    -- ?? Valores decimales
    @val_tms            DECIMAL(18,4) = NULL,
    @val_ag             DECIMAL(18,4) = NULL,
    @val_cu             DECIMAL(18,4) = NULL,
    @val_pb             DECIMAL(18,4) = NULL,
    @val_zn             DECIMAL(18,4) = NULL,
    @val_vpt            DECIMAL(18,4) = NULL,

    -- ?? Auditoría
    @usu_creo           VARCHAR(20) = NULL,
    @fec_creo           DATETIME = NULL,
    @usu_modi           VARCHAR(20) = NULL,
    @fec_modi           DATETIME = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO mae_val_canchas
    (
        cod_empresa,
        cod_empresa_unidad,
        cie_ano,
        cie_per,
        val_tms,
        val_ag,
        val_cu,
        val_pb,
        val_zn,
        val_vpt,
        usu_creo,
        fec_creo,
        usu_modi,
        fec_modi
    )
    VALUES
    (
        @cod_empresa,
        @cod_empresa_unidad,
        @cie_ano,
        @cie_per,
        @val_tms,
        @val_ag,
        @val_cu,
        @val_pb,
        @val_zn,
        @val_vpt,
        @usu_creo,
        ISNULL(@fec_creo, GETDATE()),
        @usu_modi,
        @fec_modi
    );
END;
GO

select * from mae_factor_sobredilucion
/**MAE_FACTOR_SOBREDISCIOLUION***/
CREATE PROCEDURE SP_GUARDAR_MAE_FACTOR_SOBREDISOLUCION
(
    -- ?? Claves
    @cod_empresa        VARCHAR(2),
    @cod_empresa_unidad VARCHAR(2),
    @cie_ano            VARCHAR(4),
    @cie_per            VARCHAR(2),

    -- ?? Factores
    @val_fac_ag         DECIMAL(18,4) = NULL,
    @val_fac_cu         DECIMAL(18,4) = NULL,
    @val_fac_pb         DECIMAL(18,4) = NULL,
    @val_fac_zn         DECIMAL(18,4) = NULL,
    @val_fac_au         DECIMAL(18,4) = NULL,

    -- ?? Auditoría
    @usu_creo           VARCHAR(20) = NULL,
    @fec_creo           DATETIME = NULL,
    @usu_modi           VARCHAR(20) = NULL,
    @fec_modi           DATETIME = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO mae_factor_sobredilucion
    (
        cod_empresa,
        cod_empresa_unidad,
        cie_ano,
        cie_per,
        val_fac_ag,
        val_fac_cu,
        val_fac_pb,
        val_fac_zn,
        val_fac_au,
        usu_creo,
        fec_creo,
        usu_modi,
        fec_modi
    )
    VALUES
    (
        @cod_empresa,
        @cod_empresa_unidad,
        @cie_ano,
        @cie_per,
        @val_fac_ag,
        @val_fac_cu,
        @val_fac_pb,
        @val_fac_zn,
        @val_fac_au,
        @usu_creo,
        ISNULL(@fec_creo, GETDATE()),
        @usu_modi,
        @fec_modi
    );
END;
GO


/*FACTOR RECUPERACION*/


CREATE PROCEDURE SP_GUARDAR_MAE_FACTOR_RECUPERACION
(
    -- ?? Claves
    @cod_empresa        VARCHAR(2),
    @cod_empresa_unidad VARCHAR(2),
    @cie_ano            VARCHAR(4),
    @cie_per            VARCHAR(2),

    -- ?? Factores decimales
    @val_fac_ag         DECIMAL(18,4) = NULL,
    @val_fac_cu         DECIMAL(18,4) = NULL,
    @val_fac_pb         DECIMAL(18,4) = NULL,
    @val_fac_zn         DECIMAL(18,4) = NULL,
    @val_fac_au         DECIMAL(18,4) = NULL,

    -- ?? Factores presupuestados
    @val_fac_bud_ag     DECIMAL(18,4) = NULL,
    @val_fac_bud_cu     DECIMAL(18,4) = NULL,
    @val_fac_bud_pb     DECIMAL(18,4) = NULL,
    @val_fac_bud_zn     DECIMAL(18,4) = NULL,
    @val_fac_bud_au     DECIMAL(18,4) = NULL,

    -- ?? Consumos
    @val_con_ag         DECIMAL(18,4) = NULL,
    @val_con_cu         DECIMAL(18,4) = NULL,
    @val_con_pb         DECIMAL(18,4) = NULL,
    @val_con_zn         DECIMAL(18,4) = NULL,
    @val_con_au         DECIMAL(18,4) = NULL,

    -- ?? Auditoría
    @usu_creo           VARCHAR(20) = NULL,
    @fec_creo           DATETIME = NULL,
    @usu_modi           VARCHAR(20) = NULL,
    @fec_modi           DATETIME = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO mae_factor_recuperacion
    (
        cod_empresa,
        cod_empresa_unidad,
        cie_ano,
        cie_per,
        val_fac_ag,
        val_fac_cu,
        val_fac_pb,
        val_fac_zn,
        val_fac_au,
        val_fac_bud_ag,
        val_fac_bud_cu,
        val_fac_bud_pb,
        val_fac_bud_zn,
        val_fac_bud_au,
        val_con_ag,
        val_con_cu,
        val_con_pb,
        val_con_zn,
        val_con_au,
        usu_creo,
        fec_creo,
        usu_modi,
        fec_modi
    )
    VALUES
    (
        @cod_empresa,
        @cod_empresa_unidad,
        @cie_ano,
        @cie_per,
        @val_fac_ag,
        @val_fac_cu,
        @val_fac_pb,
        @val_fac_zn,
        @val_fac_au,
        @val_fac_bud_ag,
        @val_fac_bud_cu,
        @val_fac_bud_pb,
        @val_fac_bud_zn,
        @val_fac_bud_au,
        @val_con_ag,
        @val_con_cu,
        @val_con_pb,
        @val_con_zn,
        @val_con_au,
        @usu_creo,
        ISNULL(@fec_creo, GETDATE()),
        @usu_modi,
        @fec_modi
    );
END;
GO


/**mae_tip_lab_estandar**/

CREATE PROCEDURE SP_GUARDAR_MAE_LABORATORIO_ESTANDAR
(
    -- ?? Claves
    @cod_empresa        VARCHAR(2),
    @cod_empresa_unidad VARCHAR(2),
    @cie_ano            VARCHAR(4),
    @cie_per            VARCHAR(2),
    @cod_tiplab         VARCHAR(10),

    -- ?? Valores decimales (nullable)
    @nro_lab_ancho      DECIMAL(18,4) = NULL,
    @nro_lab_altura     DECIMAL(18,4) = NULL,
    @nro_lab_pieper     DECIMAL(18,4) = NULL,
    @nro_lab_broca      DECIMAL(18,4) = NULL,
    @nro_lab_barcon     DECIMAL(18,4) = NULL,
    @nro_lab_barren     DECIMAL(18,4) = NULL,
    @nro_lab_facpot     DECIMAL(18,4) = NULL,
    @nro_lab_fulmin     DECIMAL(18,4) = NULL,
    @nro_lab_conect     DECIMAL(18,4) = NULL,
    @nro_lab_punmar     DECIMAL(18,4) = NULL,
    @nro_lab_tabla      DECIMAL(18,4) = NULL,

    -- ?? Indicador
    @ind_lab_apr        VARCHAR(1) = NULL,

    -- ?? Auditoría
    @usu_creo           VARCHAR(20) = NULL,
    @fec_creo           DATETIME = NULL,
    @usu_modi           VARCHAR(20) = NULL,
    @fec_modi           DATETIME = NULL,

    -- ?? Aprobación
    @usu_apr            VARCHAR(20) = NULL,
    @fec_apr            DATETIME = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO mae_tip_lab_estandar
    (
        cod_empresa,
        cod_empresa_unidad,
        cie_ano,
        cie_per,
        cod_tiplab,
        nro_lab_ancho,
        nro_lab_altura,
        nro_lab_pieper,
        nro_lab_broca,
        nro_lab_barcon,
        nro_lab_barren,
        nro_lab_facpot,
        nro_lab_fulmin,
        nro_lab_conect,
        nro_lab_punmar,
        nro_lab_tabla,
        ind_lab_apr,
        usu_creo,
        fec_creo,
        usu_modi,
        fec_modi,
        usu_apr,
        fec_apr
    )
    VALUES
    (
        @cod_empresa,
        @cod_empresa_unidad,
        @cie_ano,
        @cie_per,
        @cod_tiplab,
        @nro_lab_ancho,
        @nro_lab_altura,
        @nro_lab_pieper,
        @nro_lab_broca,
        @nro_lab_barcon,
        @nro_lab_barren,
        @nro_lab_facpot,
        @nro_lab_fulmin,
        @nro_lab_conect,
        @nro_lab_punmar,
        @nro_lab_tabla,
        @ind_lab_apr,
        @usu_creo,
        ISNULL(@fec_creo, GETDATE()),
        @usu_modi,
        @fec_modi,
        @usu_apr,
        @fec_apr
    );
END;
GO

/*mae_per_met_explotacion**/

CREATE OR ALTER PROCEDURE SP_GUARDAR_MAE_METODO_MINADO
    -- ?? Claves
    @cod_empresa VARCHAR(2),
    @cod_empresa_unidad VARCHAR(2),
    @cie_ano VARCHAR(4),
    @cie_per VARCHAR(2),
    @cod_metexp VARCHAR(3),

    -- ?? Datos adicionales
    @nom_metexp VARCHAR(30) = NULL,
    @fac_metexp DECIMAL(18,4) = NULL,

    -- ?? Indicadores
    @ind_act VARCHAR(1) = NULL,
    @ind_calculo_dilucion VARCHAR(1) = NULL,
    @ind_calculo_leyes_min VARCHAR(1) = NULL,

    -- ?? Auditoría
    @usu_creo VARCHAR(20) = NULL,
    @fec_creo DATETIME = NULL,
    @usu_modi VARCHAR(20) = NULL,
    @fec_modi DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- ?? Aquí puedes hacer un INSERT o un UPSERT según necesites
    -- Ejemplo de INSERT simple
    INSERT INTO mae_per_met_explotacion (
        cod_empresa,
        cod_empresa_unidad,
        cie_ano,
        cie_per,
        cod_metexp,
        nom_metexp,
        fac_metexp,
        ind_act,
        ind_calculo_dilucion,
        ind_calculo_leyes_min,
        usu_creo,
        fec_creo,
        usu_modi,
        fec_modi
    )
    VALUES (
        @cod_empresa,
        @cod_empresa_unidad,
        @cie_ano,
        @cie_per,
        @cod_metexp,
        @nom_metexp,
        @fac_metexp,
        @ind_act,
        @ind_calculo_dilucion,
        @ind_calculo_leyes_min,
        @usu_creo,
        @fec_creo,
        @usu_modi,
        @fec_modi
    );
END;
GO


/*mae_semana_AVANCE**/

CREATE PROCEDURE SP_GUARDAR_MAE_SEMANA_AVANCE
(
    @cod_empresa           VARCHAR(2),
    @cod_empresa_unidad    VARCHAR(2),
    @cie_ano               VARCHAR(4),
    @cie_per               VARCHAR(2),
    @num_semana            INT,
    @fec_ini               DATETIME = NULL,
    @fec_fin               DATETIME = NULL,
    @desc_semana           VARCHAR(50) = NULL,
    @usu_creo              VARCHAR(20) = NULL,
    @fec_creo              DATETIME = NULL,
    @usu_modi              VARCHAR(20) = NULL,
    @fec_modi              DATETIME = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO mae_semana_avance
    (
        cod_empresa,
        cod_empresa_unidad,
        cie_ano,
        cie_per,
        num_semana,
        fec_ini,
        fec_fin,
        desc_semana,
        usu_creo,
        fec_creo,
        usu_modi,
        fec_modi
    )
    VALUES
    (
        @cod_empresa,
        @cod_empresa_unidad,
        @cie_ano,
        @cie_per,
        @num_semana,
        @fec_ini,
        @fec_fin,
        @desc_semana,
        @usu_creo,
        ISNULL(@fec_creo, GETDATE()),
        @usu_modi,
        @fec_modi
    );
END;
GO

/*mae_exp_estandar*/

CREATE PROCEDURE SP_GUARDAR_MAE_EXPLORACION_ESTANDAR
(
    @cod_empresa          VARCHAR(2),
    @cod_empresa_unidad   VARCHAR(2),
    @cie_ano              VARCHAR(4),
    @cie_per              VARCHAR(2),
    @cod_zona             VARCHAR(10),
    @lab_pieper           DECIMAL(18,4) = NULL,
    @lab_broca            DECIMAL(18,4) = NULL,
    @lab_barcon           DECIMAL(18,4) = NULL,
    @lab_barren           DECIMAL(18,4) = NULL,
    @lab_facpot           DECIMAL(18,4) = NULL,
    @lab_fulmin           DECIMAL(18,4) = NULL,
    @lab_conect           DECIMAL(18,4) = NULL,
    @lab_punmar           DECIMAL(18,4) = NULL,
    @lab_tabla            DECIMAL(18,4) = NULL,
    @lab_apr              VARCHAR(1) = NULL,
    @usu_creo             VARCHAR(20) = NULL,
    @fec_creo             DATETIME = NULL,
    @usu_modi             VARCHAR(20) = NULL,
    @fec_modi             DATETIME = NULL,
    @usu_apr              VARCHAR(20) = NULL,
    @fec_apr              DATETIME = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO mae_exp_estandar
    (
        cod_empresa,
        cod_empresa_unidad,
        cie_ano,
        cie_per,
        cod_zona,
        lab_pieper,
        lab_broca,
        lab_barcon,
        lab_barren,
        lab_facpot,
        lab_fulmin,
        lab_conect,
        lab_punmar,
        lab_tabla,
        lab_apr,
        usu_creo,
        fec_creo,
        usu_modi,
        fec_modi,
        usu_apr,
        fec_apr
    )
    VALUES
    (
        @cod_empresa,
        @cod_empresa_unidad,
        @cie_ano,
        @cie_per,
        @cod_zona,
        @lab_pieper,
        @lab_broca,
        @lab_barcon,
        @lab_barren,
        @lab_facpot,
        @lab_fulmin,
        @lab_conect,
        @lab_punmar,
        @lab_tabla,
        @lab_apr,
        @usu_creo,
        ISNULL(@fec_creo, GETDATE()),
        @usu_modi,
        @fec_modi,
        @usu_apr,
        @fec_apr
    );
END;
GO

/*mae_semana_periodo*/
CREATE PROCEDURE SP_GUARDAR_MAE_SEMANA_CICLO
(
    @cod_empresa          VARCHAR(2),
    @cod_empresa_unidad   VARCHAR(2),
    @cie_ano              VARCHAR(4),
    @cie_per              VARCHAR(2),
    @num_semana           INT,
    @fec_ini              DATETIME = NULL,
    @fec_fin              DATETIME = NULL,
    @desc_semana          VARCHAR(50) = NULL,
    @usu_creo             VARCHAR(20) = NULL,
    @fec_creo             DATETIME = NULL,
    @usu_modi             VARCHAR(20) = NULL,
    @fec_modi             DATETIME = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO mae_semana_periodo
    (
        cod_empresa,
        cod_empresa_unidad,
        cie_ano,
        cie_per,
        num_semana,
        fec_ini,
        fec_fin,
        desc_semana,
        usu_creo,
        fec_creo,
        usu_modi,
        fec_modi
    )
    VALUES
    (
        @cod_empresa,
        @cod_empresa_unidad,
        @cie_ano,
        @cie_per,
        @num_semana,
        @fec_ini,
        @fec_fin,
        @desc_semana,
        @usu_creo,
        ISNULL(@fec_creo, GETDATE()),
        @usu_modi,
        @fec_modi
    );
END;
GO


