<form [formGroup]="form">

    <div class="mx-auto flex flex-col items-center w-full sm:w-[500px] md:w-[650px] lg:w-[400px] xl:w-[440px]">
        <h1 class="text-[15px] font-bold text-gray-800 mb-2 w-full">Canchas</h1>
        <div
            class="grid grid-cols-1 place-items-center border-2 border-gray-400 rounded lg:w-[410px] bg-gray-100 mx-auto">
            <div class="flex items-end justify-center gap-3 w-fit mx-auto p-2">
                <div class="flex flex-col">
                    <input type="text" class="text-sm font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-gray-50
                                shadow-sm hover:shadow-md transition-shadow duration-200
                                focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                                focus:ring-opacity-40 outline-none w-full" formControlName="val_ag"/>
                </div>

                <div class="flex flex-col items-center">
                    <label class="text-sm font-semibold text-gray-700 mb-1 text-center">TMS</label>
                    <input type="text" class="text-sm font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-gray-50
                                shadow-sm hover:shadow-md transition-shadow duration-200
                                focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                                focus:ring-opacity-40 outline-none w-full" formControlName="val_tms"/>
                </div>

            </div>

            <div class="flex justify-center items-end gap-3 mx-auto w-full p-2 rounded-lg bg-gray-50">
                <!-- Input izquierda -->
                <div class="flex flex-col w-45">
                    <input type="text" class="text-sm font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-white
             shadow-sm hover:shadow-md transition-shadow duration-200
             focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
             focus:ring-opacity-40 outline-none w-full" formControlName="val_cu" />
                </div>

                <!-- Label VTP alineado -->
                <div class="flex flex-col items-center w-45">
                    <label class="text-sm font-semibold text-gray-700 mb-1 text-center">VTP</label>
                </div>
            </div>

            <div class="flex items-end justify-center gap-3 w-fit mx-auto p-2">
                <div class="flex flex-col">
                    <input type="text" class="text-sm font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-gray-50
                                shadow-sm hover:shadow-md transition-shadow duration-200
                                focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                                focus:ring-opacity-40 outline-none w-full" formControlName="val_zn" />
                </div>

                <div class="flex flex-col items-center">
                    <input type="text" class="text-sm font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-gray-50
                                shadow-sm hover:shadow-md transition-shadow duration-200
                                focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                                focus:ring-opacity-40 outline-none w-full" formControlName="val_vpt"/>
                </div>

            </div>

            <div class="flex items-start justify-start gap-3 w-96 p-2">
                <div class="flex flex-col">
                    <input type="text" class="text-sm font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-gray-50
             shadow-sm hover:shadow-md transition-shadow duration-200
             focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
             focus:ring-opacity-40 outline-none w-full" formControlName="val_cu" />
                </div>
            </div>
        </div>
    </div>
</form>
