<div class="overflow-x-auto">
    <form class="mt-10" [formGroup]="form">
        <div
            class="w-full sm:w-96 md:w-[600px] lg:w-[700px] xl:w-[1300px] mx-auto border-gray-400 rounded-lg overflow-x-auto">
            <table class="table table-zebra w-100 mx-auto">
                <thead>
                    <tr class="text-center text-gray-700 font-medium bg-gray-100">
                        @for (col of columnas(); track $index) {
                            <th class="border-2 border-gray-400 px-3 py-1">{{ col.titulo }}</th>
                        }
                    </tr>
                </thead>

                <tbody>
                    @for (item of rows; track $index) {
                    <tr class="text-center bg-white hover:bg-gray-100 transition-colors duration-150"
                        [formGroup]="item">
                        @for (col of columnas(); track $index) {
                        <td class="border-2 border-gray-300 px-2 py-1">
                            @if (col.tipo === 'select') {
                                <select
                                    class=" select select-xs w-10  font-medium outline-none flex items-center border border-gray-300
                                            rounded-lg px-2 py-1 bg-gray-50 shadow-sm hover:shadow-md transition-shadow
                                            duration-300 ease-in-out focus-within:border-[#033351] focus-within:ring-1 mx-auto
                                            focus-within:ring-[rgb(3,102,157)] focus-within:ring-opacity-40 sm:w-[240px] md:w-[250px] lg:w-[260px] xl:w-[200px]
                                            focus-within:shadow-md"
                                    [formControlName]="col.control">

                                    <option value="">Seleccione...</option>
                                    @for (opt of obtenerOpciones(col.campo ?? ''); track $index) {
                                        <option [value]="opt.value">{{ opt.label }}</option>
                                    }
                                </select>

                            } @else {

                                <div class="flex items-center border border-gray-300 rounded-lg px-2 py-1 bg-gray-50 shadow-sm hover:shadow-md
                                        transition-shadow duration-300 ease-in-out focus-within:border-[#033351] focus-within:ring-1
                                        focus-within:ring-[rgb(3,102,157)] focus-within:ring-opacity-40 focus-within:shadow-md
                                        flex-1 min-w-[200px] md:min-w-[230px]">
                                    <input type="text"  [formControlName]="col.control"
                                        class="w-full bg-transparent outline-none text-gray-800 placeholder-gray-400 text-sm font-medium"
                                        required />
                                </div>
                            }
                        </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>
