@if (terciaria.rutas_cuartas.length > 0) {
<details>
    <summary (click)="closeOtherMenus($event)">
        {{ terciaria.nom_ruta_terc }}
    </summary>

    <ul class="p-2 absolute left-full top-0 ml-2 bg-base-100 shadow rounded-box w-48 z-50">
        @for (rutaCuarta of terciaria.rutas_cuartas; track $index) {
        <li class="relative">
            <app-cuarta [cuarta]="rutaCuarta"></app-cuarta>
        </li>
        }
    </ul>
</details>

} @else {

<a class="block py-1 px-2 hover:bg-base-200 rounded">
    {{ terciaria.nom_ruta_terc }}
</a>

}

