<div class="navbar bg-base shadow-sm bg-[#F5F5F5]" style="padding-top:0.10rem; padding-bottom:0.10rem;">
    <div class="navbar-start flex-1">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>

            </div>
            <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-10">
                <app-list-mobile />
            </ul>
        </div>
        <div class="flex justify-center items-center my-2  m-auto">
            <img src="logo-empresa.png" alt="Logo empresa" class="w-25 h-auto" />
        </div>
    </div>

    <div class="navbar-center hidden lg:flex flex-6">
        <ul class="menu menu-horizontal px-6 gap-4 font-sans text-base font-medium text-[bg-black]">
            <app-list-desktop />
        </ul>
    </div>

    <div class="navbar-end flex-1">
        <button class="btn btn-error gap-2 flex items-center m-auto hover:scale-105 transition-transform duration-200"
            (click)="authService.logout()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h6a2 2 0 012 2v1" />
            </svg>
            Cerrar Sesión
        </button>
    </div>
</div>
<router-outlet></router-outlet>
