<form [formGroup]="form"
    class="mx-auto flex flex-wrap items-center w-full max-w-[450px] sm:max-w-[500px] md:max-w-[650px] lg:max-w-[450px]">
    <h1 class="text-[15px] font-bold text-gray-800 w-full" style="color: #013B5C;">Canchas</h1>

    <div
        class="flex items-end grid grid-cols-2 sm:grid-cols-2 gap-4 rounded-xl border-2 border-gray-400 bg-gray-100 p-2 w-full place-items-center">

        <!-- Primera fila -->
        <div class="flex flex-col  w-full">
            <input type="number" [class.opacity-30]="planingCompartido.bloqueoFormGeneral()"
                [class.pointer-events-none]="planingCompartido.bloqueoFormGeneral()" class="text-xs font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-white
                    shadow-sm hover:shadow-md transition-shadow duration-200
                    focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                    focus:ring-opacity-40 outline-none w-full" formControlName="val_ag" placeholder="val_ag" />
            @if ( formUtils.isValidField(form ,"val_ag") ) {
            <div class="form-text text-[red] text-xs mt-1">
                {{ formUtils.getFiledError(form, "val_ag") }}
            </div>
            }
        </div>

        <div class="flex flex-col w-full items-center">
            <label class="text-sm font-semibold text-gray-700 mb-1 text-center">TMS</label>
            <input type="number" [class.opacity-30]="planingCompartido.bloqueoFormGeneral()"
                [class.pointer-events-none]="planingCompartido.bloqueoFormGeneral()" class="text-xs font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-white
                    shadow-sm hover:shadow-md transition-shadow duration-200
                    focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                    focus:ring-opacity-40 outline-none w-full" formControlName="val_tms" placeholder="val_tms" />
            @if ( formUtils.isValidField(form ,"val_tms") ) {
            <div class="form-text text-[red] text-xs mt-1">
                {{ formUtils.getFiledError(form, "val_tms") }}
            </div>
            }
        </div>

        <!-- Segunda fila -->
        <div class="flex flex-col w-full">
            <input type="number" [class.opacity-30]="planingCompartido.bloqueoFormGeneral()"
                [class.pointer-events-none]="planingCompartido.bloqueoFormGeneral()" class="text-xs font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-white
                    shadow-sm hover:shadow-md transition-shadow duration-200
                    focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                    focus:ring-opacity-40 outline-none w-full" formControlName="val_cu"  placeholder="val_cu"/>
            @if ( formUtils.isValidField(form ,"val_cu") ) {
            <div class="form-text text-[red] text-xs mt-1">
                {{ formUtils.getFiledError(form, "val_cu") }}
            </div>
            }
        </div>

        <div class="flex flex-col w-full items-center">
            <label class="text-sm font-semibold text-gray-700 mb-1 text-center">VTP</label>
            <input type="number" [class.opacity-30]="planingCompartido.bloqueoFormGeneral()" placeholder=""
                [class.pointer-events-none]="planingCompartido.bloqueoFormGeneral()" class="text-xs font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-white
                    shadow-sm hover:shadow-md transition-shadow duration-200
                    focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                    focus:ring-opacity-40 outline-none w-full" formControlName="val_vpt"  placeholder="val_vpt"/>
            @if ( formUtils.isValidField(form ,"val_vpt") ) {
            <div class="form-text text-[red] text-xs mt-1">
                {{ formUtils.getFiledError(form, "val_vpt") }}
            </div>
            }
        </div>

        <!-- Tercera fila -->
        <div class="flex flex-col w-full">
            <input type="number" [class.opacity-30]="planingCompartido.bloqueoFormGeneral()"
                [class.pointer-events-none]="planingCompartido.bloqueoFormGeneral()" class="text-xs font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-white
                    shadow-sm hover:shadow-md transition-shadow duration-200
                    focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                    focus:ring-opacity-40 outline-none w-full" formControlName="val_pb" placeholder="val_pb"/>
            @if ( formUtils.isValidField(form ,"val_pb") ) {
            <div class="form-text text-[red] text-xs mt-1">
                {{ formUtils.getFiledError(form, "val_pb") }}
            </div>
            }
        </div>

        <div class="flex flex-col w-full">
            <input type="number" [class.opacity-30]="planingCompartido.bloqueoFormGeneral()"
                [class.pointer-events-none]="planingCompartido.bloqueoFormGeneral()" class="text-xs font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-white
                    shadow-sm hover:shadow-md transition-shadow duration-200
                    focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                    focus:ring-opacity-40 outline-none w-full" formControlName="val_zn"  placeholder="val_zn"/>
            @if ( formUtils.isValidField(form ,"val_zn") ) {
            <div class="form-text text-[red] text-xs mt-1">
                {{ formUtils.getFiledError(form, "val_zn") }}
            </div>
            }
        </div>

    </div>
</form>
