<div class="container mx-auto px-4 gap-10 justify-center">
    <form class="mt-10" [formGroup]="form">
        <div
            class="w-full sm:w-96 md:w-[600px] lg:w-[700px] xl:w-[1300px] mx-auto border-gray-400 rounded-lg overflow-x-auto">
            <table class="min-w-full border-collapse text-sm text-gray-800">
                <thead>
                    <tr class="text-center text-gray-700 font-medium bg-gray-100">
                        @for (col of columnas(); track $index) {
                            <th class="border-2 border-gray-400 px-3 py-1">{{ col.titulo }}</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (item of rows; track $index) {
                        @if (rows.length > 0) {
                            <tr class="text-center bg-white hover:bg-gray-100 transition-colors duration-150" [formGroup]="item" >
                                @for (col of columnas(); track $index) {
                                    <td class="border-2 border-gray-400 px-2 py-1">
                                        <input type="text" [formControlName]="col.control"
                                            class="w-full text-right border-none bg-transparent outline-none" />
                                    </td>
                                }
                            </tr>
                        } @else {
                            <td class="border-2 border-gray-400 px-2 py-1">No existen datos.</td>
                        }
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>
