<form class="mt-10">
    <div
        class="w-full sm:w-96 md:w-[600px] lg:w-[700px] xl:w-[1300px] mx-auto border-gray-400 rounded-lg overflow-x-auto">
        <table class="min-w-full border-collapse text-sm text-gray-800">
            <thead>
                <!-- Título general -->

                <!-- Tercer nivel: subcolumnas -->
                <tr class="text-center text-gray-700 font-medium bg-gray-100">
                    <th class="border-2 border-gray-400 px-3 py-1">Tipo Labor</th>
                    <th class="border-2 border-gray-400 px-3 py-1">Ancho</th>
                    <th class="border-2 border-gray-400 px-3 py-1">Altura</th>
                    <th class="border-2 border-gray-400 px-3 py-1">Ft Perforado FT/mts</th>

                    <th class="border-2 border-gray-400 px-3 py-1">Nro Broca Und/mts</th>
                    <th class="border-2 border-gray-400 px-3 py-1">Barreno Und/mts</th>
                    <th class="border-2 border-gray-400 px-3 py-1">Potencia kg/mts</th>
                    <th class="border-2 border-gray-400 px-3 py-1">Fulminante Und/mts</th>
                    <th class="border-2 border-gray-400 px-3 py-1">Conectores Und/mts</th>
                    <th class="border-2 border-gray-400 px-3 py-1">Puntal /Marchavante</th>
                    <th class="border-2 border-gray-400 px-3 py-1">Nro Tabla</th>
                </tr>
            </thead>

            <tbody>
                <tr class="text-center bg-white hover:bg-gray-100 transition-colors duration-150">


                    <!-- Factor Operativo -->
                    <td class="border-2 border-gray-400 px-2 py-1"><input type="text" formControlName="val_fac_ag"
                            class="w-full text-right border-none bg-transparent outline-none" /></td>
                    <td class="border-2 border-gray-400 px-2 py-1"><input type="text" formControlName="val_fac_cu"
                            class="w-full text-right border-none bg-transparent outline-none" /></td>
                    <td class="border-2 border-gray-400 px-2 py-1"><input type="text" formControlName="val_fac_pb"
                            class="w-full text-right border-none bg-transparent outline-none" /></td>
                    <td class="border-2 border-gray-400 px-2 py-1"><input type="text" formControlName="val_fac_zn"
                            class="w-full text-right border-none bg-transparent outline-none" /></td>
                    <td class="border-2 border-gray-400 px-2 py-1"><input type="text" formControlName="val_fac_au"
                            class="w-full text-right border-none bg-transparent outline-none" /></td>

                    <!-- Factor de Recuperación -->
                    <td class="border-2 border-gray-400 px-2 py-1"><input type="text" formControlName="val_fac_rec_ag"
                            class="w-full text-right border-none bg-transparent outline-none" /></td>
                    <td class="border-2 border-gray-400 px-2 py-1"><input type="text" formControlName="val_fac_rec_cu"
                            class="w-full text-right border-none bg-transparent outline-none" /></td>
                    <td class="border-2 border-gray-400 px-2 py-1"><input type="text" formControlName="val_fac_rec_pb"
                            class="w-full text-right border-none bg-transparent outline-none" /></td>
                    <td class="border-2 border-gray-400 px-2 py-1"><input type="text" formControlName="val_fac_rec_zn"
                            class="w-full text-right border-none bg-transparent outline-none" /></td>
                    <td class="border-2 border-gray-400 px-2 py-1"><input type="text" formControlName="val_fac_rec_zn"
                            class="w-full text-right border-none bg-transparent outline-none" /></td>
                    <td class="border-2 border-gray-400 px-2 py-1"><input type="text" formControlName="val_fac_rec_zn"
                            class="w-full text-right border-none bg-transparent outline-none" /></td>
                </tr>
            </tbody>
        </table>
    </div>

</form>
