@if (cuarta.opciones && cuarta.opciones.length > 0) {

<details>
    <summary (click)="closeOtherMenus($event)">
        {{ cuarta.nom_ruta_cuar  }}
    </summary>

    <ul class="p-2 absolute left-full top-0 ml-2 bg-base-100 shadow rounded-box w-64 z-50">
        @for (opcion of cuarta.opciones; track $index) {
        <li>
            <a class="block py-1 px-2 hover:bg-base-200 rounded">
                {{ opcion.nom_ruta_opc  }}
            </a>
        </li>
        }
    </ul>
</details>

} @else {

<a class="block py-1 px-2 hover:bg-base-200 rounded">
    {{ cuarta.nom_ruta_cuar }}
</a>

}
