@if (secundaria.rutas_terciarias.length > 0) {
<details>
    <summary (click)="closeOtherMenus($event)">
        {{ secundaria.nom_ruta_secun }}
    </summary>

    <ul class="p-2 absolute left-full top-0 ml-2 bg-base-100 shadow rounded-box w-48 z-50">
        @for (rutaTerciaria of secundaria.rutas_terciarias; track $index) {
        <li class="relative">
            <app-terciaria [terciaria]="rutaTerciaria"></app-terciaria>
        </li>
        }
    </ul>
</details>
} @else {
<a class="block py-1 px-2 hover:bg-base-200 rounded">
    {{ secundaria.nom_ruta_secun }}
</a>
}
