<form [formGroup]="form" class="w-full mt-4 xl:w-[1100px] mx-auto border-gray-400 rounded-lg">


    <h1 class="text-[15px] font-bold text-gray-800 w-full" style="color: #013B5C;">Factor Operativo</h1>

    <div class="w-full overflow-x-auto">
        <table class="table-auto min-w-[1100px] border-collapse text-sm text-gray-800">
            <thead>
                <tr class="text-center text-gray-700 font-semibold bg-gray-100">
                    <th rowspan="2" class="border-2 border-gray-400 px-3 py-1">Tipo</th>
                    <th colspan="5" class="border-2 border-gray-400 px-3 py-1">Factor Operativo</th>
                    <th colspan="5" class="border-2 border-gray-400 px-3 py-1">Factor de Recuperación</th>
                </tr>
                <tr class="text-center text-gray-700 font-medium bg-gray-100">
                    @for (th of thCampos(); track $index) {
                    <th class="border-2 border-gray-400 px-3 py-1">{{ th.label }}</th>
                    }
                </tr>
            </thead>
            <tbody formArrayName="factorOperativoDetalle">
                @if (factorOperativoDetalle.length !== 0) {
                @for (fila of factorOperativoDetalle.controls; let i = $index; track i) {
                    <tr class="text-center bg-white" [formGroupName]="i">
                            @for (td of tdCampos(); track $index) {
                                <td class="border-2 border-gray-400 px-2 py-1">

                                    <div class="w-full">
                                        <input [type]="td.type" [formControlName]="td.name" [readonly]="td.readonly"
                                        [class.opacity-30]="planingCompartido.bloqueoFormGeneral()"
                                        [class.pointer-events-none]="planingCompartido.bloqueoFormGeneral()"
                                        class="w-full bg-transparent outline-none text-gray-800 placeholder-gray-400 text-xs font-medium" />
                                    </div>

                                    <!-- @if (formUtils.isValidField(fila, td.name)) {
                                        <div class="form-text text-danger text-[red] text-xs">
                                            {{ formUtils.getFiledError(fila, td.name) }}
                                        </div>
                                        } -->

                                </td>
                            }
                        </tr>
                    }
                }@else {
                    <td colspan="11" class="border-2 border-gray-400 px-2 py-1" style="background-color: rgb(255, 238, 238); text-align: center;"><b>No existen datos para mostrar.</b></td>
                }
            </tbody>
        </table>
    </div>
</form>
