.not-found-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.content {
  z-index: 10;
  text-align: center;
  padding: 20px;
  backdrop-filter: blur(4px);
}

.error-title {
  font-size: 120px;
  font-weight: 900;
  margin: 0;
  animation: pulse 2s infinite;
}

.error-subtitle {
  font-size: 28px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.error-message {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 30px;
}

.btn-home {
  background: #ffffff;
  color: #033351;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.btn-home:hover {
  background: #ffcc00;
  color: #000;
  /* transform: scale(1.1); */
}

/* Fondo animado */
/* .bg-animation {
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle,rgba(255,255,255,0.1) 0%, transparent 70%);
  animation: rotateBG 12s linear infinite;
} */

/* @keyframes rotateBG {
  from { transform: rotate(0deg) translate(-25%, -25%); }
  to { transform: rotate(360deg) translate(-25%, -25%); }
}

@keyframes pulse {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.05); opacity: 0.8; }
} */
