<form [formGroup]="form">
    <div class="mx-auto w-full sm:w-[600px] md:w-[700px] lg:w-[900px] xl:w-[1100px] flex flex-col items-center">

        <h1 class="text-[15px] font-bold text-gray-800 w-full" style="color: #013B5C;">Periodo</h1>

        <div class="flex flex-wrap justify-center gap-4 border-2 border-gray-400 rounded-xl p-4 bg-gray-100 mb-4 mx-auto
        sm:w-[600px] md:w-[700px] lg:w-[900px] xl:w-[1100px]">

            @for (item of fieldInputs(); track item.name) {
                <div>
                    @if (item.typeControl == "select") {
                        <div class="w-50 ">
                            <label class="text-sm font-medium text-gray-700">{{ item.label }}</label>
                            <select [formControlName]="item.name"
                                class="select-xs disabled:opacity-50 disabled:cursor-not-allowed mx-auto select text-sm font-medium outline-none flex items-center border border-gray-300 rounded-lg px-2 py-1 bg-white shadow-sm hover:shadow-md transition-shadow duration-300 ease-in-out focus:border-[#033351] focus:ring-1 focus:ring-[rgb(3,102,157)] focus:ring-opacity-40 w-full disabled:bg-gray-100 disabled:text-gray-500">
                                @for (opt of item.array; track $index) {
                                    <option [value]="opt">{{ opt }}</option>
                                }
                            </select>
                        </div>
                    }@else{

                        <label class="text-sm font-medium text-gray-700">{{ item.label }}</label>
                        <div class="flexitems-center border border-gray-300 rounded-lg px-2 py-1 bg-gray-50 shadow-sm hover:shadow-md
                           transition-shadow duration-300 ease-in-out focus-within:border-[#033351] focus-within:ring-1
                           focus-within:ring-[rgb(3,102,157)] focus-within:ring-opacity-40 focus-within:shadow-md
                           flex-1 min-w-[200px] md:min-w-[230px]">
                            <input [type]="item.type" [formControlName]="item.name"
                                class="w-full outline-none text-gray-800 placeholder-gray-400 text-xs font-medium disabled:opacity-50 disabled:bg-gray-100 disabled:cursor-not-allowed"
                                 />
                        </div>
                    }

                </div>
            }
        </div>
    </div>
</form>

