
/* Estilos para el estado inactivo (Base) */
.tab-style {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* space-x-2 */
    padding: 0.5rem 1rem;
    /* px-4 py-2 */
    font-size: 0.875rem;
    /* text-sm */
    font-weight: 500;
    /* font-medium */
    color: theme('colors.gray.600');
    /* Un gris más oscuro */
    border-radius: 0.5rem;
    /* rounded-lg */
    border: 1px solid theme('colors.gray.200');
    background-color: theme('colors.white');
    transition: all 200ms ease;
    text-align: center;
    text-wrap: nowrap;
    /* Evita que el texto se rompa */
}

/* Efecto Hover para el estado inactivo */
.tab-style:hover {
    background-color: theme('colors.blue.50');
    color: theme('colors.gray.800');
    border-color: theme('colors.gray.300');

}

/* Estilos para el estado Activo (routerLinkActive="tab-active") */
.tab-active {
    color: theme('colors.white');
    background-color: #013b5c;
    /* Color Minero Principal */
    border-color: #013b5c;
    box-shadow: theme('boxShadow.md');
    transform: translateY(-2px);
        color: white;

    /* Un ligero lift */
}

/* Evitar el hover en el elemento activo para mantener el color */
.tab-active:hover {
    background-color: #002b48;
    /* Un tono más oscuro del azul minero */
    color: theme('colors.white');
    border-color: #002b48;
}


