<form [formGroup]="form">

    <div class="mx-auto flex flex-col items-center w-full sm:w-[500px] md:w-[650px] lg:w-[400px] xl:w-[438px]">
        <h1 class="text-[15px] font-bold text-gray-800 w-full" style="color: #013B5C;">Canchas</h1>



        <div
            class="grid grid-cols-1 place-items-center w-full border-2 border-gray-400 rounded lg:w-[410px] bg-gray-100 mx-auto">


            <div class="flex items-end justify-center gap-3 w-fit mx-auto p-2 ">
                <div class="flex flex-col">
                    <input type="number" class="text-xs font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-white
                                shadow-sm hover:shadow-md transition-shadow duration-200 disabled:opacity-50 disabled:bg-gray-100 disabled:cursor-not-allowed
                                focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                                focus:ring-opacity-40 outline-none w-full" formControlName="val_ag" />

                                @if ( formUtils.isValidField(form ,"val_ag") ) {
                                    <div class="form-text text-[red] text-xs mt-1">
                                        {{ formUtils.getFiledError(form, "val_ag") }}
                                    </div>
                                }
                </div>

                <div class="flex flex-col items-center ">
                    <label class="text-sm font-semibold text-gray-700 mb-1 text-center">TMS</label>
                    <input type="number" class="text-xs font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-white
                                shadow-sm hover:shadow-md transition-shadow duration-200 disabled:opacity-50 disabled:bg-gray-100 disabled:cursor-not-allowed
                                focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                                focus:ring-opacity-40 outline-none w-full" formControlName="val_tms" />

                                @if ( formUtils.isValidField(form ,"val_tms") ) {
                                    <div class="form-text text-[red] text-xs mt-1">
                                        {{ formUtils.getFiledError(form, "val_tms") }}
                                    </div>
                                }
                </div>

            </div>

            <div class="flex justify-center items-end gap-3 mx-auto w-full p-2 rounded-lg">
                <div class="flex flex-col">
                    <input type="number"
                        class="text-xs font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-white
             shadow-sm hover:shadow-md transition-shadow duration-200
             focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
             focus:ring-opacity-40 outline-none w-full disabled:opacity-50 disabled:bg-gray-100 disabled:cursor-not-allowed"
                        formControlName="val_cu" />


                        @if ( formUtils.isValidField(form ,"val_cu") ) {
                            <div class="form-text text-[red] text-xs mt-1">
                                {{ formUtils.getFiledError(form, "val_cu") }}
                            </div>
                        }
                </div>

                <div class="flex flex-col items-center w-39">
                    <label class="text-sm font-semibold text-gray-700 mb-1 text-center">VTP</label>
                </div>
            </div>

            <div class="flex items-end justify-center gap-3 w-fit mx-auto p-2">
                <div class="flex flex-col">
                    <input type="number"
                        class="text-xs  font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-white
                                shadow-sm hover:shadow-md transition-shadow duration-200
                                focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                                focus:ring-opacity-40 outline-none w-full disabled:opacity-50 disabled:bg-gray-100 disabled:cursor-not-allowed"
                        formControlName="val_zn" />

                        @if ( formUtils.isValidField(form ,"val_zn") ) {
                            <div class="form-text text-[red] text-xs mt-1">
                                {{ formUtils.getFiledError(form, "val_zn") }}
                            </div>
                        }
                </div>

                <div class="flex flex-col items-center">
                    <input type="number"
                        class="text-xs font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-white
                                shadow-sm hover:shadow-md transition-shadow duration-200
                                focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                                focus:ring-opacity-40 outline-none w-full disabled:opacity-50 disabled:bg-gray-100 disabled:cursor-not-allowed"
                        formControlName="val_vpt">

                        @if ( formUtils.isValidField(form ,"val_vpt") ) {
                            <div class="form-text text-[red] text-xs mt-1">
                                {{ formUtils.getFiledError(form, "val_vpt") }}
                            </div>
                        }
                </div>

            </div>

            <div class="flex items-start justify-start gap-3  w-84 p-2">
                <div class="flex flex-col">
                    <input type="number"
                        class="text-xs font-medium border border-gray-300 rounded-lg px-1 py-0.5 text-right bg-white
                            shadow-sm hover:shadow-md transition-shadow duration-200
                            focus:border-[#033351] focus:ring-2 focus:ring-[rgb(3,102,157)]
                            focus:ring-opacity-40 outline-none w-full disabled:opacity-50 disabled:bg-gray-100 disabled:cursor-not-allowed"
                        formControlName="val_cu" />
                    @if ( formUtils.isValidField(form ,"val_cu") ) {
                        <div class="form-text text-[red] text-xs mt-1">
                            {{ formUtils.getFiledError(form, "val_cu") }}
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</form>
